<app-nav></app-nav>
<!-- banner start -->
<!-- <div class="container-fluid">
    <div class="row">
        <div class="col-lg-6">
            <div id="carouselExample" class="carousel slide">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="slider">
                            <div class="carousel-cont">
                                <p>{{ getTranslation('BEST_COLLECTION') }}</p>
                                <h2>{{ getTranslation('RANGE_OF_JEWELRY')}}</h2>
                                <h5>{{ getTranslation ('NEW_PRICE: ₹18,900')}}</h5>
                                <button class="btn">Shop Now</button>
                           </div>
                        </div>
                     
                    </div>
                    <div class="carousel-item">
                        <div class="slider2">
                            <div class="carousel-cont">
                                <p>Best Collecation</p>
                                <h2>A Range Of jewelry</h2>
                                <h5>New Price: ₹18,900</h5>
                                <button class="btn">Shop Now</button>
                           </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                       <div class="slider3">
                        <div class="carousel-cont">
                            <p>Best Collecation</p>
                            <h2>A Range Of jewelry</h2>
                            <h5>New Price: ₹18,900</h5>
                            <button class="btn">Shop Now</button>
                       </div>
                       </div>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="poster">
                <div class="innar">
                    <div class="banner-cont">
                        <h2>Happy Ever After</h2>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
                            <button class="btn">Shop Now</button>
                    </div>
                </div>
            </div>
            <div class="poster">
                <div class="innars">
                    <div class="banner-cont">
                        <h2>Wedding Gift</h2>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
                            <button class="btn">Shop Now</button>
                    </div>
                </div>
            </div>
        </div>
     </div>
 </div> -->
<!-- banner end -->

<!-- header line start -->
<div class="head-line">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="line d-flex flex-wrap align-items-center my-3 justify-content-between">
                    <!-- <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laudantium asperiores nemo dolorem unde
                        iusto natus omnis quasi dolorem unde iusto natus. </p> -->
                        <p>{{'Home.LINE' | translate}}</p>
                    <h6><i class="bi bi-currency-dollar"></i> {{'Home.RATE' | translate}}</h6>
                    <ul class="d-flex" role="search">
                        <li class="nav-item">
                           <!-- home.component.html -->
<!-- home.component.html -->
<!-- home.component.html -->
<select class="form-select" (change)="onLanguageChange($event)" id="langSelect">
    <option *ngFor="let lang of getLanguages()" [value]="lang" [selected]="lang === translate.currentLang">{{ lang }}</option>
  </select>
<!-- nav.component.html -->
<a class="nav-link" aria-current="page" routerLink="/home">{{ 'Nav.HOME' | translate }}</a>
  <p>{{ 'Home.LINE' | translate }}</p>
  <p>{{ 'Home.RATE' | translate }}</p>
  
  
  
                              
                        </li>
                      </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- header line end -->

<!-- banner start -->
<div id="carouselExample" class="carousel slide">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="../../../../assets/Img/slider/slider1.jpeg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="../../../../assets/Img/slider/slider2.jpeg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="../../../../assets/Img/slider/slider3.png" class="d-block w-100" alt="...">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
<!-- banner end -->

<!-- lab grown section start -->
<section class="lab">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="title d-flex flex-wrap align-items-center justify-content-center">
                    <img src="../../../../assets/Img/profile/diamond.png" alt="diamond.png" class="img-fluid">
                    <h2>{{'Home.Lab Grown' | translate}}</h2>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="grown-banner">
                    <div class="card mt-4 px-5">
                        <div class="lab-img my-5 text-center">
                            <img src="../../../../assets/Img/slider/lab.png" alt="labbanner" class="img-fluid">
                        </div>
                        <div class="lab-product-title d-flex flex-wrap align-items-center justify-content-between">
                            <h5>{{'Home.Polish' | translate}}</h5>
                            <h6> <a routerLink="/products">
                                {{'Home.See all' | translate}}
                            </a></h6>
                        </div>
                        <div class="row">
                            <div class="col-lg-3 col-md-6 col-sm-12">
                                <div class="lab-product">
                                    <div class="card">
                                        <div class="pro-img">
                                            <a routerLink="/product">
                                            <img src="../../../../assets/Img/slider/labpro.png" alt="labpro"
                                                class="card-img-top">
                                            </a>
                                        </div>
                                        <div class="product-details px-4 py-3">
                                            <div
                                                class="price d-flex flex-wrap align-items-center justify-content-between">
                                                <h4>SID</h4>
                                                <h5>₹8680.00</h5>
                                            </div>
                                            <div
                                                class="pieace d-flex flex-wrap align-items-center justify-content-between">
                                                <h6> {{'Home.Piece' | translate}}</h6>
                                                <p>458</p>
                                            </div>
                                            <div
                                                class="size d-flex flex-wrap align-items-center justify-content-between">
                                                <h6> {{'Home.Size' | translate}}</h6>
                                                <p>4{{'Home.gr'|translate}}</p>
                                            </div>
                                            <div
                                                class="weigth d-flex flex-wrap align-items-center justify-content-between">
                                                <h6>{{'Home.Weight'|translate}} </h6>
                                                <p>4388.00</p>
                                            </div>
                                            <div
                                                class="color d-flex flex-wrap align-items-center justify-content-between">
                                                <h6>{{'Home.Color'|translate}}</h6>
                                                <p>4388.00</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-12">
                                <div class="lab-product">
                                    <div class="card">
                                        <div class="pro-img">
                                            <img src="../../../../assets/Img/slider/labpro2.png" alt="labpro"
                                                class="card-img-top">
                                        </div>
                                        <div class="product-details px-4 py-3">
                                            <div
                                                class="price d-flex flex-wrap align-items-center justify-content-between">
                                                <h4>SID</h4>
                                                <h5>₹8680.00</h5>
                                            </div>
                                            <div
                                                class="pieace d-flex flex-wrap align-items-center justify-content-between">
                                                <h6>{{'Home.Piece' | translate}}</h6>
                                                <p>458</p>
                                            </div>
                                            <div
                                                class="size d-flex flex-wrap align-items-center justify-content-between">
                                                <h6> {{'Home.Size' | translate}}</h6>
                                               <p>4{{'Home.gr'|translate}}</p>
                                            </div>
                                            <div
                                                class="weigth d-flex flex-wrap align-items-center justify-content-between">
                                                <h6>{{'Home.Weight'|translate}} </h6>
                                                <p>4388.00</p>
                                            </div>
                                            <div
                                                class="color d-flex flex-wrap align-items-center justify-content-between">
                                               <h6>{{'Home.Color'|translate}}</h6>
                                                <p>4388.00</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-12">
                                <div class="lab-product">
                                    <div class="card">
                                        <div class="pro-img">
                                            <img src="../../../../assets/Img/slider/labpro3.png" alt="labpro"
                                                class="card-img-top">
                                        </div>
                                        <div class="product-details px-4 py-3">
                                            <div
                                                class="price d-flex flex-wrap align-items-center justify-content-between">
                                                <h4>SID</h4>
                                                <h5>₹8680.00</h5>
                                            </div>
                                            <div
                                                class="pieace d-flex flex-wrap align-items-center justify-content-between">
                                                <h6>{{'Home.Piece' | translate}}</h6>
                                                <p>458</p>
                                            </div>
                                            <div
                                                class="size d-flex flex-wrap align-items-center justify-content-between">
                                                <h6> {{'Home.Size' | translate}}</h6>
                                               <p>4{{'Home.gr'|translate}}</p>
                                            </div>
                                            <div
                                                class="weigth d-flex flex-wrap align-items-center justify-content-between">
                                                <h6>{{'Home.Weight'|translate}} </h6>
                                                <p>4388.00</p>
                                            </div>
                                            <div
                                                class="color d-flex flex-wrap align-items-center justify-content-between">
                                               <h6>{{'Home.Color'|translate}}</h6>
                                                <p>4388.00</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-12">
                                <div class="lab-product">
                                    <div class="card">
                                        <div class="pro-img">
                                            <img src="../../../../assets/Img/slider/labpro4.png" alt="labpro"
                                                class="card-img-top">
                                        </div>
                                        <div class="product-details px-4 py-3">
                                            <div
                                                class="price d-flex flex-wrap align-items-center justify-content-between">
                                                <h4>SID</h4>
                                                <h5>₹8680.00</h5>
                                            </div>
                                            <div
                                                class="pieace d-flex flex-wrap align-items-center justify-content-between">
                                                <h6>{{'Home.Piece' | translate}}</h6>
                                                <p>458</p>
                                            </div>
                                            <div
                                                class="size d-flex flex-wrap align-items-center justify-content-between">
                                                <h6> {{'Home.Size' | translate}}</h6>
                                               <p>4{{'Home.gr'|translate}}</p>
                                            </div>
                                            <div
                                                class="weigth d-flex flex-wrap align-items-center justify-content-between">
                                                <h6>{{'Home.Weight'|translate}} </h6>
                                                <p>4388.00</p>
                                            </div>
                                            <div
                                                class="color d-flex flex-wrap align-items-center justify-content-between">
                                               <h6>{{'Home.Color'|translate}}</h6>
                                                <p>4388.00</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <div
                                    class="rough-title d-flex flex-wrap align-items-center justify-content-between mt-5 mb-3">
                                    <h5> {{'Home.Weight'|translate}} </h5>
                                    <h6> {{'Home.See all' | translate}}</h6>
                                </div>
                                <div class="row">
                                    <div class="col-lg-3 col-md-6 col-sm-12">
                                        <div class="lab-product">
                                            <div class="card">
                                                <div class="pro-img">
                                                    <img src="../../../../assets/Img/slider/roughpro1.png" alt="labpro"
                                                        class="card-img-top">
                                                </div>
                                                <div class="product-details px-4 py-3">
                                                    <div
                                                        class="price d-flex flex-wrap align-items-center justify-content-between">
                                                        <h4>SID</h4>
                                                        <h5>₹8680.00</h5>
                                                    </div>
                                                    <div
                                                        class="pieace d-flex flex-wrap align-items-center justify-content-between">
                                                        <h6>{{'Home.Piece' | translate}}</h6>
                                                        <p>458</p>
                                                    </div>
                                                    <div
                                                        class="size d-flex flex-wrap align-items-center justify-content-between">
                                                        <h6> {{'Home.Size' | translate}}</h6>
                                                       <p>4{{'Home.gr'|translate}}</p>
                                                    </div>
                                                    <div
                                                        class="weigth d-flex flex-wrap align-items-center justify-content-between">
                                                        <h6>{{'Home.Weight'|translate}} </h6>
                                                        <p>4388.00</p>
                                                    </div>
                                                    <div
                                                        class="color d-flex flex-wrap align-items-center justify-content-between">
                                                       <h6>{{'Home.Color'|translate}}</h6>
                                                        <p>4388.00</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-6 col-sm-12">
                                        <div class="lab-product">
                                            <div class="card">
                                                <div class="pro-img">
                                                    <img src="../../../../assets/Img/slider/roughpro2.png" alt="labpro"
                                                        class="card-img-top">
                                                </div>
                                                <div class="product-details px-4 py-3">
                                                    <div
                                                        class="price d-flex flex-wrap align-items-center justify-content-between">
                                                        <h4>SID</h4>
                                                        <h5>₹8680.00</h5>
                                                    </div>
                                                    <div
                                                        class="pieace d-flex flex-wrap align-items-center justify-content-between">
                                                        <h6>{{'Home.Piece' | translate}}</h6>
                                                        <p>458</p>
                                                    </div>
                                                    <div
                                                        class="size d-flex flex-wrap align-items-center justify-content-between">
                                                        <h6> {{'Home.Size' | translate}}</h6>
                                                       <p>4{{'Home.gr'|translate}}</p>
                                                    </div>
                                                    <div
                                                        class="weigth d-flex flex-wrap align-items-center justify-content-between">
                                                        <h6>{{'Home.Weight'|translate}} </h6>
                                                        <p>4388.00</p>
                                                    </div>
                                                    <div
                                                        class="color d-flex flex-wrap align-items-center justify-content-between">
                                                       <h6>{{'Home.Color'|translate}}</h6>
                                                        <p>4388.00</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-6 col-sm-12">
                                        <div class="lab-product">
                                            <div class="card">
                                                <div class="pro-img">
                                                    <img src="../../../../assets/Img/slider/roughpro3.png" alt="labpro"
                                                        class="card-img-top">
                                                </div>
                                                <div class="product-details px-4 py-3">
                                                    <div
                                                        class="price d-flex flex-wrap align-items-center justify-content-between">
                                                        <h4>SID</h4>
                                                        <h5>₹8680.00</h5>
                                                    </div>
                                                    <div
                                                        class="pieace d-flex flex-wrap align-items-center justify-content-between">
                                                        <h6>{{'Home.Piece' | translate}}</h6>
                                                        <p>458</p>
                                                    </div>
                                                    <div
                                                        class="size d-flex flex-wrap align-items-center justify-content-between">
                                                        <h6> {{'Home.Size' | translate}}</h6>
                                                       <p>4{{'Home.gr'|translate}}</p>
                                                    </div>
                                                    <div
                                                        class="weigth d-flex flex-wrap align-items-center justify-content-between">
                                                        <h6>{{'Home.Weight'|translate}} </h6>
                                                        <p>4388.00</p>
                                                    </div>
                                                    <div
                                                        class="color d-flex flex-wrap align-items-center justify-content-between">
                                                       <h6>{{'Home.Color'|translate}}</h6>
                                                        <p>4388.00</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-6 col-sm-12">
                                        <div class="lab-product">
                                            <div class="card">
                                                <div class="pro-img">
                                                    <img src="../../../../assets/Img/slider/roughpro4.png" alt="labpro"
                                                        class="card-img-top">
                                                </div>
                                                <div class="product-details px-4 py-3">
                                                    <div
                                                        class="price d-flex flex-wrap align-items-center justify-content-between">
                                                        <h4>SID</h4>
                                                        <h5>₹8680.00</h5>
                                                    </div>
                                                    <div
                                                        class="pieace d-flex flex-wrap align-items-center justify-content-between">
                                                        <h6>{{'Home.Piece' | translate}}</h6>
                                                        <p>458</p>
                                                    </div>
                                                    <div
                                                        class="size d-flex flex-wrap align-items-center justify-content-between">
                                                        <h6> {{'Home.Size' | translate}}</h6>
                                                       <p>4{{'Home.gr'|translate}}</p>
                                                    </div>
                                                    <div
                                                        class="weigth d-flex flex-wrap align-items-center justify-content-between">
                                                        <h6>{{'Home.Weight'|translate}} </h6>
                                                        <p>4388.00</p>
                                                    </div>
                                                    <div
                                                        class="color d-flex flex-wrap align-items-center justify-content-between">
                                                       <h6>{{'Home.Color'|translate}}</h6>
                                                        <p>4388.00</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- lab grown section end -->

<!-- naturla secation start -->
<section class="natural">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="title d-flex flex-wrap align-items-center justify-content-center">
                    <img src="../../../../assets/Img/profile/diamond.png" alt="diamond.png" class="img-fluid">
                    <h2>{{'Home.Natural'| translate}}</h2>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="grown-banner">
                    <div class="card mt-4 px-5">
                        <div class="lab-img my-5 text-center">
                            <img src="../../../../assets/Img/slider/natural.png" alt="natural.png" class="img-fluid">
                        </div>
                        <div class="lab-product-title d-flex flex-wrap align-items-center justify-content-between">
                            <h5>{{'Home.Polish' | translate}}</h5>
                            <h6> {{'Home.See all' | translate}}</h6>
                        </div>
                        <div class="row">
                            <div class="col-lg-3 col-md-6 col-sm-12">
                                <div class="lab-product">
                                    <div class="card">
                                        <div class="pro-img">
                                            <img src="../../../../assets/Img/slider/labpro.png" alt="labpro"
                                                class="card-img-top">
                                        </div>
                                        <div class="product-details px-4 py-3">
                                            <div
                                                class="price d-flex flex-wrap align-items-center justify-content-between">
                                                <h4>SID</h4>
                                                <h5>₹8680.00</h5>
                                            </div>
                                            <div
                                                class="pieace d-flex flex-wrap align-items-center justify-content-between">
                                                <h6>{{'Home.Piece' | translate}}</h6>
                                                <p>458</p>
                                            </div>
                                            <div
                                                class="size d-flex flex-wrap align-items-center justify-content-between">
                                                <h6> {{'Home.Size' | translate}}</h6>
                                               <p>4{{'Home.gr'|translate}}</p>
                                            </div>
                                            <div
                                                class="weigth d-flex flex-wrap align-items-center justify-content-between">
                                                <h6>{{'Home.Weight'|translate}} </h6>
                                                <p>4388.00</p>
                                            </div>
                                            <div
                                                class="color d-flex flex-wrap align-items-center justify-content-between">
                                               <h6>{{'Home.Color'|translate}}</h6>
                                                <p>4388.00</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-12">
                                <div class="lab-product">
                                    <div class="card">
                                        <div class="pro-img">
                                            <img src="../../../../assets/Img/slider/labpro2.png" alt="labpro"
                                                class="card-img-top">
                                        </div>
                                        <div class="product-details px-4 py-3">
                                            <div
                                                class="price d-flex flex-wrap align-items-center justify-content-between">
                                                <h4>SID</h4>
                                                <h5>₹8680.00</h5>
                                            </div>
                                            <div
                                                class="pieace d-flex flex-wrap align-items-center justify-content-between">
                                                <h6>{{'Home.Piece' | translate}}</h6>
                                                <p>458</p>
                                            </div>
                                            <div
                                                class="size d-flex flex-wrap align-items-center justify-content-between">
                                                <h6> {{'Home.Size' | translate}}</h6>
                                               <p>4{{'Home.gr'|translate}}</p>
                                            </div>
                                            <div
                                                class="weigth d-flex flex-wrap align-items-center justify-content-between">
                                                <h6>{{'Home.Weight'|translate}} </h6>
                                                <p>4388.00</p>
                                            </div>
                                            <div
                                                class="color d-flex flex-wrap align-items-center justify-content-between">
                                               <h6>{{'Home.Color'|translate}}</h6>
                                                <p>4388.00</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-12">
                                <div class="lab-product">
                                    <div class="card">
                                        <div class="pro-img">
                                            <img src="../../../../assets/Img/slider/labpro3.png" alt="labpro"
                                                class="card-img-top">
                                        </div>
                                        <div class="product-details px-4 py-3">
                                            <div
                                                class="price d-flex flex-wrap align-items-center justify-content-between">
                                                <h4>SID</h4>
                                                <h5>₹8680.00</h5>
                                            </div>
                                            <div
                                                class="pieace d-flex flex-wrap align-items-center justify-content-between">
                                                <h6>{{'Home.Piece' | translate}}</h6>
                                                <p>458</p>
                                            </div>
                                            <div
                                                class="size d-flex flex-wrap align-items-center justify-content-between">
                                                <h6> {{'Home.Size' | translate}}</h6>
                                               <p>4{{'Home.gr'|translate}}</p>
                                            </div>
                                            <div
                                                class="weigth d-flex flex-wrap align-items-center justify-content-between">
                                                <h6>{{'Home.Weight'|translate}} </h6>
                                                <p>4388.00</p>
                                            </div>
                                            <div
                                                class="color d-flex flex-wrap align-items-center justify-content-between">
                                               <h6>{{'Home.Color'|translate}}</h6>
                                                <p>4388.00</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-12">
                                <div class="lab-product">
                                    <div class="card">
                                        <div class="pro-img">
                                            <img src="../../../../assets/Img/slider/labpro4.png" alt="labpro"
                                                class="card-img-top">
                                        </div>
                                        <div class="product-details px-4 py-3">
                                            <div
                                                class="price d-flex flex-wrap align-items-center justify-content-between">
                                                <h4>SID</h4>
                                                <h5>₹8680.00</h5>
                                            </div>
                                            <div
                                                class="pieace d-flex flex-wrap align-items-center justify-content-between">
                                                <h6>{{'Home.Piece' | translate}}</h6>
                                                <p>458</p>
                                            </div>
                                            <div
                                                class="size d-flex flex-wrap align-items-center justify-content-between">
                                                <h6> {{'Home.Size' | translate}}</h6>
                                               <p>4{{'Home.gr'|translate}}</p>
                                            </div>
                                            <div
                                                class="weigth d-flex flex-wrap align-items-center justify-content-between">
                                                <h6>{{'Home.Weight'|translate}} </h6>
                                                <p>4388.00</p>
                                            </div>
                                            <div
                                                class="color d-flex flex-wrap align-items-center justify-content-between">
                                               <h6>{{'Home.Color'|translate}}</h6>
                                                <p>4388.00</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <div
                                    class="rough-title d-flex flex-wrap align-items-center justify-content-between mt-5 mb-3">
                                    <h5>{{'Home.Rough'| translate}}</h5>
                                    <h6> {{'Home.See all' | translate}}</h6>
                                </div>
                                <div class="row">
                                    <div class="col-lg-3 col-md-6 col-sm-12">
                                        <div class="lab-product">
                                            <div class="card">
                                                <div class="pro-img">
                                                    <img src="../../../../assets/Img/slider/roughpro1.png" alt="labpro"
                                                        class="card-img-top">
                                                </div>
                                                <div class="product-details px-4 py-3">
                                                    <div
                                                        class="price d-flex flex-wrap align-items-center justify-content-between">
                                                        <h4>SID</h4>
                                                        <h5>₹8680.00</h5>
                                                    </div>
                                                    <div
                                                        class="pieace d-flex flex-wrap align-items-center justify-content-between">
                                                        <h6>{{'Home.Piece' | translate}}</h6>
                                                        <p>458</p>
                                                    </div>
                                                    <div
                                                        class="size d-flex flex-wrap align-items-center justify-content-between">
                                                        <h6> {{'Home.Size' | translate}}</h6>
                                                       <p>4{{'Home.gr'|translate}}</p>
                                                    </div>
                                                    <div
                                                        class="weigth d-flex flex-wrap align-items-center justify-content-between">
                                                        <h6>{{'Home.Weight'|translate}} </h6>
                                                        <p>4388.00</p>
                                                    </div>
                                                    <div
                                                        class="color d-flex flex-wrap align-items-center justify-content-between">
                                                       <h6>{{'Home.Color'|translate}}</h6>
                                                        <p>4388.00</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-6 col-sm-12">
                                        <div class="lab-product">
                                            <div class="card">
                                                <div class="pro-img">
                                                    <img src="../../../../assets/Img/slider/roughpro2.png" alt="labpro"
                                                        class="card-img-top">
                                                </div>
                                                <div class="product-details px-4 py-3">
                                                    <div
                                                        class="price d-flex flex-wrap align-items-center justify-content-between">
                                                        <h4>SID</h4>
                                                        <h5>₹8680.00</h5>
                                                    </div>
                                                    <div
                                                        class="pieace d-flex flex-wrap align-items-center justify-content-between">
                                                        <h6>{{'Home.Piece' | translate}}</h6>
                                                        <p>458</p>
                                                    </div>
                                                    <div
                                                        class="size d-flex flex-wrap align-items-center justify-content-between">
                                                        <h6> {{'Home.Size' | translate}}</h6>
                                                       <p>4{{'Home.gr'|translate}}</p>
                                                    </div>
                                                    <div
                                                        class="weigth d-flex flex-wrap align-items-center justify-content-between">
                                                        <h6>{{'Home.Weight'|translate}} </h6>
                                                        <p>4388.00</p>
                                                    </div>
                                                    <div
                                                        class="color d-flex flex-wrap align-items-center justify-content-between">
                                                       <h6>{{'Home.Color'|translate}}</h6>
                                                        <p>4388.00</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-6 col-sm-12">
                                        <div class="lab-product">
                                            <div class="card">
                                                <div class="pro-img">
                                                    <img src="../../../../assets/Img/slider/roughpro3.png" alt="labpro"
                                                        class="card-img-top">
                                                </div>
                                                <div class="product-details px-4 py-3">
                                                    <div
                                                        class="price d-flex flex-wrap align-items-center justify-content-between">
                                                        <h4>SID</h4>
                                                        <h5>₹8680.00</h5>
                                                    </div>
                                                    <div
                                                        class="pieace d-flex flex-wrap align-items-center justify-content-between">
                                                        <h6>Piece</h6>
                                                        <p>458</p>
                                                    </div>
                                                    <div
                                                        class="size d-flex flex-wrap align-items-center justify-content-between">
                                                        <h6> {{'Home.Size' | translate}}</h6>
                                                       <p>4{{'Home.gr'|translate}}</p>
                                                    </div>
                                                    <div
                                                        class="weigth d-flex flex-wrap align-items-center justify-content-between">
                                                        <h6>{{'Home.Weight'|translate}} </h6>
                                                        <p>4388.00</p>
                                                    </div>
                                                    <div
                                                        class="color d-flex flex-wrap align-items-center justify-content-between">
                                                       <h6>{{'Home.Color'|translate}}</h6>
                                                        <p>4388.00</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-6 col-sm-12">
                                        <div class="lab-product">
                                            <div class="card">
                                                <div class="pro-img">
                                                    <img src="../../../../assets/Img/slider/roughpro4.png" alt="labpro"
                                                        class="card-img-top">
                                                </div>
                                                <div class="product-details px-4 py-3">
                                                    <div
                                                        class="price d-flex flex-wrap align-items-center justify-content-between">
                                                        <h4>SID</h4>
                                                        <h5>₹8680.00</h5>
                                                    </div>
                                                    <div
                                                        class="pieace d-flex flex-wrap align-items-center justify-content-between">
                                                        <h6>Piece</h6>
                                                        <p>458</p>
                                                    </div>
                                                    <div
                                                        class="size d-flex flex-wrap align-items-center justify-content-between">
                                                        <h6> {{'Home.Size' | translate}}</h6>
                                                       <p>4{{'Home.gr'|translate}}</p>
                                                    </div>
                                                    <div
                                                        class="weigth d-flex flex-wrap align-items-center justify-content-between">
                                                        <h6>{{'Home.Weight'|translate}} </h6>
                                                        <p>4388.00</p>
                                                    </div>
                                                    <div
                                                        class="color d-flex flex-wrap align-items-center justify-content-between">
                                                       <h6>{{'Home.Color'|translate}}</h6>
                                                        <p>4388.00</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- naturla secation end -->

<app-footer></app-footer>


