
.line i{
    background-color: #FF8C00;
    border-radius: 50%;
    color: #fff;
    padding: 5px;
    width: 20px;
    height: 20px;
}
.slider{
    background: url(../../../../assets/Img/Banner/banner1.jpg);
}
.slider2{
    background-image: url(../../../../assets/Img/Banner/banner2.jpg);
}
.slider3{
    background-image: url(../../../../assets/Img/Banner/banner3.jpg);
}
.carousel-cont{
    padding-top: 185px;
    padding-bottom: 250px;
    padding-left: 50px;
    padding-right: 400px;
}
.innar{
    background: url(../../../../assets/Img/Banner/banner4.jpg);
    background-repeat: no-repeat;
    width: 52%;
    margin: 0 auto;
}
.innars{
    background: url(../../../../assets/Img/Banner/banner5.jpg);
    background-repeat: no-repeat;
    width: 52%;
    margin: 0 auto;
}
.banner-cont{
    padding-top: 58px;
    padding-right: 165px;
    padding-bottom: 62px;
    padding-left: 30px;
    margin-bottom: 10px;
}


/* lab grown start */
.lab{
    margin: 70px 0;
}
.title{
    position: relative;
}
.title::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50% , -50%);
    width: 15%;
    border: 2px solid #FF8C00;
}
.grown-banner .card{
    border: 0;
    box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.45);
}
.price h5{
    color: #FF8C00;
}
.lab-product .card{
    background-color: #FAFAFA;
    box-shadow: none;
}
.natural{
    margin: 70px 0;
}
/* lab grown end */





