<section class="nav">
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
            <a routerLink="/home">
                <img class="logo img-fluid" src="../../../assets/Img/logo/DimaondBazzarlogo.png" alt="logo" width="200">
            </a>
        </div>
    </nav>
</section>

<section class="main">
    <div class="container">
        <h3 class="text-center mb-5">
            Terms and Conditions for Online Service Provider Company
        </h3>
        <h5>Effective Date: 27-06-2024</h5>

        <hr>
        <div>
            <h3>1. Acceptance of Terms</h3>
            <p>Welcome to the terms and conditions ("Terms") for the online services provided by Diamond Bazzar ("we",
                "our", "us"). By accessing or using our services, you agree to be bound by these Terms and our Privacy
                Policy. If you do not agree with any part of these Terms, you may not use our services.</p>
        </div>
        <hr>
        <div>
            <h3>2. Description of Services</h3>
            <h6>Our company provides platform for diamond sellers and buyer. These services are provided on an "as-is"
                and "as-available" basis.</h6>
        </div>
        <hr>
        <div>
            <h3>3. User Responsibilities</h3>
            <ul>
                <li>You must provide accurate and complete information when using our services.</li>
                <li>You agree to comply with all applicable laws and regulations.</li>
                <li>You are responsible for maintaining the confidentiality of your account credentials.</li>
            </ul>
        </div>
        <hr>
        <div>
            <h3>4. Payment and Fees</h3>
            <ul>
                <li>Payment terms are outlined separately.</li>
                <li>We reserve the right to change our fees and billing methods upon notice to you.</li>
            </ul>
        </div>
        <hr>
        <div>
            <h3>5. Intellectual Property</h3>
            <ul>
                <li>Our services and all related content and materials are protected by intellectual property rights
                    owned by us.</li>
                <li>You may not use our trademarks, logos, or content without our prior written consent.</li>
            </ul>
        </div>
        <hr>
        <div>
            <h3>6. Limitation of Liability</h3>
            <ul>
                <li>We are not liable for any indirect, incidental, special, or consequential damages arising out of or
                    in connection with our services.</li>
                <li>Our total liability in any matter arising out of these Terms shall not exceed.</li>
            </ul>
        </div>
        <hr>
        <div>
            <h3>7. Termination</h3>
            <ul>
                <li>We may suspend or terminate your access to our services if you violate these Terms.</li>
                <li>You may terminate your account at any time by contacting us.</li>
            </ul>
        </div>
        <hr>

        <div class="mb-3">
            <h3>8. Modifications to Terms</h3>
            <ul>
                <li>We reserve the right to update or modify these Terms at any time.</li>
                <li>Changes will be effective upon posting the updated Terms on our website https://diamondbazzar.in/.</li>
            </ul>
        </div>
        <hr>
        <div>
            <h3>
                9. Governing Law
            </h3>
            <ul>
                <li>These Terms are governed by and construed in accordance with the laws of Surat.</li>
                <li>- Any disputes arising under these Terms shall be subject to the exclusive jurisdiction of the courts located in [Your Jurisdiction].</li>
            </ul>
        </div>
        <hr>
        <div>
            <h3>10. Contact Us</h3>
            <h6>If you have any questions about these Terms, please contact us at info&#64;diamondbazzar.in</h6>
        </div>

    </div>

</section>