.title h2{
    color: #FF8C00;
}
.prefe-title h4{
    color: #FF8C00;
}
.profile-title h2{
    color: #FF8C00;
    font-weight: 700;
}
.profile-back img{
    height: 90vh;
    width: 100%;
    position: relative;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}
.profile-img{
    position: absolute;
    top: 20%;
    left: 23%;
    transform: translate(-50%,-50%);
}
.profile-img img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.next-btn .btn{
    background-color: #FF8C00;
    color: #fff;
}
.next-btn{
    margin: 30px 0;
}
.profile-form{
    margin: 10% 0;
}
.card{
    padding: 0 20px 0 0;
}
.input-container {
    position: relative;
    width: 100%;
}

.call-icon {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    color: #FF8C00;
    font-size: 22px;
}

.input-container .form-control {
    padding-left: 40px;
}
.process-img2{
    position: relative;
}
.process-img2::after{
    content: '';
    position: absolute;
    top: 39%;
    left: 248px;
    width: 420px;
    border: 1px solid #FF8C00;
    transform: translate(-50%, -50%);
}
.process-img2::before{
    content: '';
    position: absolute;
    top: 39%;
    right: -167px;
    width: 416px;
    border: 1px solid #FF8C00;
    transform: translate(-50%, -50%);
}

.lab .card{
    /* background-image:  */
    background-size: cover;
    background-position: center center;
    background-color:#2C3247;
    padding: 60px 0;
}
.lab{
    text-align: center;
}
.lab .card img{
    margin: 0 auto;
}
.natural .card{
    padding: 0 0 0 0;
    border: 0;
    position: relative;
    /* background-image: url(../../../../assets/Img/profile/naturla.png); */
    background-image: url(../../../../../assets/Img/profile/naturla.png);
    background-size: cover;
    padding: 50% 0;
}
.natural-title h4{
    position: absolute;
    bottom: 7%;
    left: 48%;
    transform: translate(-50% , -50%);
}
.polish .card{
    padding: 0 0 0 0;
    border: 0;
    position: relative;
    /* background-image: url(../../../../assets/Img/profile/polish.png); */
    background-image: url(../../../../../assets/Img/profile/polish.png);
    background-size: cover;
    padding: 50% 0;
}
.polish-title h4{
    position: absolute;
    bottom: 7%;
    left: 48%;
    transform: translate(-50% , -50%);
}
.rough .card{
    padding: 0 0 0 0;
    border: 0;
    position: relative;
    /* background-image: url(../../../../assets/Img/profile/rough.png); */
    background-image: url(../../../../../assets/Img/profile/rough.png);
    background-size: cover;
    padding: 50% 0;
}
.rough-title h4{
    position: absolute;
    bottom: 7%;
    left: 48%;
    transform: translate(-50% , -50%);
}
.profile .card{
    border: 0;
    box-shadow: 0px 0px 28px -9px rgba(0,0,0,0.75);
    border-radius: 15px;
}

@media (max-width:1025px) {
    .profile-back img {
        height: 103vh;
        width: 100%;
        position: relative;
    }
    .process-img2::before {
        content: '';
        position: absolute;
        top: 39%;
        right: -104px;
        width: 284px;
        border: 1px solid #FF8C00;
        transform: translate(-50%, -50%);
    }
    .process-img2::after {
        content: '';
        position: absolute;
        top: 39%;
        left: 180px;
        width: 284px;
        border: 1px solid #FF8C00;
        transform: translate(-50%, -50%);
    }
    
    
}

@media (max-width:769px) {
    .process-img2::after {
        content: '';
        position: absolute;
        top: 39%;
        left: 102px;
        width: 125px;
        border: 1px solid #FF8C00;
        transform: translate(-50%, -50%);
    }
    .process-img2::before {
        content: '';
        position: absolute;
        top: 39%;
        right: -27px;
        width: 132px;
        border: 1px solid #FF8C00;
        transform: translate(-50%, -50%);
    }
    .profile-back img {
        height: 30vh;
        width: 100%;
        position: relative;
    }
    .profile-img {
        position: absolute;
        top: 11%;
        left: 53%;
        transform: translate(-50%, -50%);
    }
    .card {
        padding: 0 0px 0 0;
    }
    
    
}

@media (max-width:376px) {
    .profile-back img {
        height: 20vh;
        width: 100%;
        position: relative;
    }
    .profile-img {
        position: absolute;
        top: 7%;
        left: 55%;
        transform: translate(-50%, -50%);
    }
    .card{
        padding: 0 0px 0 0;
    }
    .process-img2::before {
        content: '';
        position: absolute;
        top: 39%;
        left: -58px;
        width: 116px;
        border: 1px solid #FF8C00;
        transform: translate(-50%, -50%);
    }
    .process-img2::after {
        content: '';
        position: absolute;
        top: 39%;
        left: 97px;
        width: 116px;
        border: 1px solid #FF8C00;
        transform: translate(-50%, -50%);
    }
}