/* .title h3{
    color: var(--primary-color);
    text-align: center;
}
.title{
    position: relative;
}
.title::before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50% , -50%);
    width: 10%;
    border: 1px solid #000;
}
.profile-title h3{
    color: var(--primary-color);
}
.firstname input{
    border: 1px solid var(--primary-color);
}
.lastname input{
    border: 1px solid var(--primary-color);
}
.number input{
    border: 1px solid var(--primary-color);
}
.email input{
    border: 1px solid var(--primary-color);
}
.company-title h3{
    color: var(--primary-color);
}
.company input{
    border: 1px solid var(--primary-color);
}
.business input{
    border: 1px solid var(--primary-color);
}
.bio input{
    border: 1px solid var(--primary-color);
}
.logo input{
    border: 1px solid var(--primary-color);
}
.office input{
    border: 1px solid var(--primary-color);
}
.address input{
    border: 1px solid var(--primary-color);
}
.profiless .card{
    padding: 20px;
    border: 0;
    box-shadow: 1px 3px 8px 2px rgba(204, 204, 204, 0.85);
    margin: 70px 0;
}
.sub-btn .btn{
    background-color: #000;
    padding: 10px 10%;
    color: #fff;
}
.profile-user{
    border-radius: 50%;
    height: 100px;
    width: 100px;
} */

.title h2{
    font-family: var(--fonts);
    font-weight: 700;
    font-size: 40px;
}

.floating-form {
    position: relative;
  }
  .floating-form .form-control {
    background: transparent;
    position: relative;
    z-index: 50;
  }
  .floating-form .form-control:focus, .floating-form .form-control:active, .floating-form .form-control:valid {
    outline: none !important;
    box-shadow: none !important;
  }
  .floating-form .form-control:focus + label, .floating-form .form-control:active + label, .floating-form .form-control:valid + label {
    transform: translateY(-40%);
    top: -2px;
    z-index: 100;
    font-size: 18px;
  }
  .floating-form label {
    padding-left: 5px;
    padding-right: 5px;
    position: absolute;
    top: 50%;
    left: 0.75rem;
    z-index: 1;
    font-size: 18px;
    transform: translateY(-50%);
    transition: all 0.3s;
    background: #fff;
    color: #000;
    font-weight: 500;
  }
  .floating-form textarea + label {
    top: 1.275rem;
  }
  .floating-form input{
    font-size: 17px;
    margin: 0 0 0 5px;
    border: 1px solid #000;
  }
  .person-img img{
    width: 100px;
    height: 100px;
    border-radius: 50px;
  }
  .person-img{
    margin-bottom: 25px;
  }

  .company-img img{
    width: 100px;
    height: 100px;
    border-radius: 50px;
  }
  .company-img{
    margin-bottom: 25px;
  }
  .sub-btn .btn{
    background-color: #000;
    color: #fff;
    padding: 10px 9%;
    margin-bottom: 20px;
    border-radius: 50px;
    font-size: 22px;
  }
  .sub-btn{
    text-align: end;
  }
  .person-img {
    position: relative;
  }
  .edit-btn{
    position: absolute;
    bottom: 0;
    left: 7%;
  }
  .company-img{
    position: relative;
  }


  @media (max-width:425px) {
    .edit-btn{
      position: absolute;
      bottom: 0;
      left: 28%;
    }
  }