<app-nav></app-nav>

<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="title my-3">
                    <h2>Profile</h2>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="personal-details mx-3">
                    <div class="personal-title">
                        <h4>Personal Information</h4>
                    </div>
                    <div class="person-img">
                        <img
                        src={{userdata.profilePhoto}}
                        class="profile-user mt-4 ms-3 mb-2">

                        <div class="edit-btn">
                            <button class="btn" type="button" data-bs-toggle="modal" data-bs-target="#updateperson">
                                <i class="bi bi-pencil-square fs-5"></i>
                              </button>
                        </div>
                    </div>
                    <form (ngSubmit)="OnChangeDataAdd()">
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="mb-3 firstname floating-form">
                                    <input id="firstName" type="text"
                                        class="form-control form-control-lg"
                                        placeholder=" "
                                        [(ngModel)]="userdata.firstName"
                                        name="firstName">
                                        <label for="firstName"
                                        class="form-label">{{
                                        "Home.First Name" | translate
                                        }}</label>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="mb-3 lastname floating-form">
                                    <input id="lastName" type="text"
                                        class="form-control form-control-lg"
                                        placeholder=" "
                                        [(ngModel)]="userdata.lastName"
                                        name="lastName">
                                        <label for="lastName"
                                        class="form-label">{{
                                        "Home.Last Name" | translate
                                        }}</label>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="mb-3 number floating-form">
                                    <input id="companyPhoneNumber"
                                        type="text" class="form-control form-control-lg"
                                        placeholder=" "
                                        [(ngModel)]="userdata.phoneNumber"
                                        name="companyPhoneNumber">
                                        <label for="companyPhoneNumber"
                                        class="form-label">{{
                                        "Home.Phone Number" | translate
                                        }}</label>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="mb-3 email floating-form">
                                    <input id="email" type="email"
                                        class="form-control form-control-lg"
                                        placeholder=" "
                                        [(ngModel)]="userdata.email"
                                        name="email">
                                        <label for="email" class="form-label">{{
                                            "Home.Email" | translate }}</label>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-12">
                            <div class="company-details my-5">
                                <div class="company-title">
                                    <h4>Company Information</h4>
                                </div>
                                <div class="company-img">
                                    <img src={{UserProfileData.companyLogo}}
                                    class="mt-3 profile-user ms-3 mb-2">
                                    <div class="edit-btn">
                                        <button class="btn" type="button" data-bs-toggle="modal" data-bs-target="#updatecompany">
                                            <i class="bi bi-pencil-square fs-5"></i>
                                          </button>
                                    </div>
                                </div>
                                    <div class="row">
                                        <div class="col-lg-4">
                                            <div class="mb-3 company floating-form">
                                                <input id="companyName" type="text"
                                                    class="form-control form-control-lg"
                                                    placeholder=" "
                                                    [(ngModel)]="UserProfileData.companyName"
                                                    name="companyName">
                                                    <label for="companyName"
                                                    class="form-label">{{
                                                    "Home.Company Name" | translate
                                                    }}</label>
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="mb-3 bio floating-form">
                                                <input id="companyBio" type="text"
                                                    class="form-control form-control-lg"
                                                    placeholder=" "
                                                    [(ngModel)]="UserProfileData.companyBio"
                                                    name="companyBio">
                                                    <label for="companyBio"
                                                    class="form-label">{{
                                                    "Home.Company Bio" | translate
                                                    }}</label>
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="mb-3 bio floating-form">
                                                <input id="companyPhoneNumber" type="text"
                                                    class="form-control form-control-lg"
                                                    placeholder=" "
                                                    [(ngModel)]="UserProfileData.companyPhoneNumber"
                                                    name="companyPhoneNumber">
                                                    <label for="companyPhoneNumber"
                                                    class="form-label">{{
                                                    "Company PhoneNumber " | translate
                                                    }}</label>
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="mb-3 bio floating-form">
                                                <input id="companyAddress" type="text"
                                                    class="form-control form-control-lg"
                                                    placeholder=" "
                                                    [(ngModel)]="UserProfileData.companyAddress"
                                                    name="companyAddress">
                                                    <label for="companyAddress"
                                                    class="form-label">{{
                                                    "Company Address " | translate
                                                    }}</label>
                                            </div>
                                        </div>
                                    </div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="sub-btn">
                                <button class="btn">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>



            <!-- updateimage modal start -->
            <div class="modal fade" id="updateperson" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h1 class="modal-title fs-5" id="exampleModalLabel">Update PersonImage</h1>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      <form>
                        <div class="mb-3">
                            <label for="">Update Image</label>
                            <input type="file" [(ngModel)]="userdata.profilePhoto" (change)="onFileSelectedProfile($event)">
                        </div>
                      </form>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                      <button type="button" class="btn btn-primary" (click) ="OnChangeDataAdd()" data-bs-dismiss="modal">Save changes</button>
                    </div>
                  </div>
                </div>
              </div>
            <!-- updateimage modal end -->


                   <!-- updatecompimage modal start -->
                   <div class="modal fade" id="updatecompany" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h1 class="modal-title fs-5" id="exampleModalLabel">Update Company Image</h1>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                          <form>
                            <div class="mb-3">
                                <label for="">Update Image</label>
                                <input type="file" [(ngModel)]="userdata.profilePhoto" (change)=" onFileSelectedLogo($event)">
                            </div>
                          </form>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                          <button type="button" class="btn btn-primary" (click) ="OnChangeDataAdd()" data-bs-dismiss="modal">Save changes</button>
                        </div>
                      </div>
                    </div>
                  </div>
                <!-- updatecompimage modal end -->

           
            
        </div>
    </div>
</section>

<app-footer></app-footer>
