<app-nav></app-nav>
<section class="Rough-post">
    <div class="container">

        <div class="row">
            <div class="col-lg-12">
                <div class="card px-3">
                    <div class="profile-process my-5 d-flex align-items-center justify-content-between">
                        <div class="process-img">
                            <img src="../../../../assets/Img/profile/1.png" alt>
                        </div>
                        <div class="process-img2">
                            <img src="../../../../assets/Img//profile/21.png" alt>
                        </div>
                        <div class="process-img3">
                            <img src="../../../../assets/Img//profile/31.png" alt>
                        </div>
                    </div>

                    <div class="polishform">
                        <div style="display: flex;justify-content: center;" class="mb-5">
                            <h5><b>Preview</b></h5>
                        </div>
                        <form action>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        <input type="text" class="form-control" placeholder="Rough Origin : Australian">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        <!-- <label for="" class="form-label">Weigth*</label> -->
                                        <input type="text" class="form-control" placeholder="Rough Type : 4-P Nakh">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        <!-- <label for="" class="form-label">Weigth*</label> -->
                                        <input type="text" class="form-control" placeholder="Piece : 4">
                                    </div>
                                </div>

                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        <input type="text" class="form-control" placeholder="Weight : 10gm">
                                    </div>
                                </div>

                                <div class="col-lg-6">
                                  <div style="display: flex; gap: 50px;">
                                    <div class="mb-3 col-lg-8">
                                        <input type="text" class="form-control" placeholder="Size : General">
                                      
                                    </div>
                                    <div class="mb-3 col-lg-3">
                                        <input type="text" class="form-control" placeholder="Size : General">
                                      
                                    </div>
                                  </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        <input type="text" class="form-control"
                                            placeholder="Price Per Carat : ₹5000">
                                    </div>
                                </div> 
                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        <input type="text" class="form-control" placeholder="Color : D To Z">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        <input type="text" class="form-control" placeholder="Natts : Yes">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        <input type="text" class="form-control" placeholder="Terms :  Lorem ipsum dolor sit amet, consect ">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        <input type="text" class="form-control" placeholder="Remarks : Yes">
                                    </div>
                                </div>
                                
                         
                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        <input type="text" class="form-control"
                                            placeholder="Location :   Lorem ipsum dolor sit amet, consect ">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                  
                                </div>
                               
                               
                                <div class="col-lg-6">
                                    <div class="prev-btn mt-4 mb-3">
                                        <a routerLink="/RoughPost1">
                                        <button class="btn">
                                            <i class="bi bi-arrow-left"></i>Prev
                                        </button>
                                    </a>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="next-btn text-end mt-4">
                                        <a routerLink="/Polishpost2">
                                            <button class="btn">Next
                                                <i class="bi bi-arrow-right"></i>
                                            </button>
                                        </a>
                                    </div>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>