<app-nav></app-nav>
<section class="polish-post">
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="card px-3">
                <div class="profile-process my-5 d-flex align-items-center justify-content-between">
                    <div class="process-img">
                        <img src="../../../../assets/Img/profile/1.png" alt="">
                    </div>
                    <div class="process-img2">
                        <img src="../../../../assets/Img//profile/21.png" alt="">
                    </div>
                    <div class="process-img3">
                        <img src="../../../../assets/Img//profile/31.png" alt="">
                    </div>
                </div>

              

            </div>
        </div>
    </div>
</div>
</section>
