.process-img2{
    position: relative;
}
.process-img2::after{
    content: '';
    position: absolute;
    top: 39%;
    left: 333px;
    width: 589px;
    border: 1px solid #FF8C00;
    transform: translate(-50%, -50%);

}
.process-img2::before{
    content: '';
    position: absolute;
    top: 39%;
    right: -254px;
    width: 589px;
    border: 1px solid #FF8C00;
    transform: translate(-50%, -50%);
}