<section class="login-section">
    <div class="container-fluid">
        <div class="row d-flex justify-content-center">
            <div class="col-md-6 col-lg-6">
               <div class="login-img">
                
               </div>
            </div>

            <div class="col-md-6 col-lg-6">
                <div class="login-form">
                    <form>
                        <div class="title">
                            <h2 class="mb-5">Log In</h2>
                        </div>
                            <div data-mdb-input-init class="floating-form mb-4" style="width: 80%; margin: 0 auto;">
                                <input type="phonenumber" id="phonenumber" class="form-control form-control-lg email-input"
                                placeholder=" "  autocomplete="off" name="Phone Number" [(ngModel)]="user.phoneNumber" name="phoneNumber" #phoneNumber="ngModel" required />
                                <label class="form-label" for="phonenumber">Phone Number</label>
                            </div>


                            <div data-mdb-input-init class="floating-form mb-3" style="width: 80%; margin: 0 auto;">
                                <input [type]="isPasswordVisible ? 'text' : 'password'" id="password" class="form-control form-control-lg"
                                placeholder=" " [(ngModel)]="user.password" name="password" #password="ngModel" required />
                                <label class="form-label" for="password">Password</label>
                                <div class="eye-icon">
                                    <button class="btn" (click)="togglePassword()">
                                        <i class="bi bi-eye-fill" [ngClass]="isPasswordVisible ? 'bi-eye-slash-fill' : 'bi-eye-fill'"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="forget-pass text-end">
                                <h6 routerLink="/forgetpass">Forget Password?</h6>
                            </div>
                
                    </form>
                    <div class="login-btn">
                           <button class="btn text-center text-white" type="submit" (click)="OnLogin()">Log In</button>
                     </div>
                     <div class="signup">
                        <p>Don't have an Account?</p>
                        <div class="signup-btn">
                            <button class="btn">
                                <a class="text-dark"  routerLink="/signup">Signup</a>
                            </button>
                         </div>
                     </div>
                   
                </div>
                  
            </div>
        </div>
    </div>
</section>





