.navbar{
    background-color: #000;
    margin: 0 40px;
    border-radius: 15px;
}
.navbar-collapse {
    flex-basis: 50% !important;
    flex-grow: 0 !important;
    align-items: center;
}
.icon .btn i{
    color: #FF8C00;
    background-color: #fff;
    border-radius: 50%;
    padding: 8px 10px;
}
ul li{
    list-style: none;
}
ul li a{
    color: #fff;
}

.nav-link:hover, .nav-link.active {
    transition: all 0.2s ease;
    border-bottom: 2px solid #FF8C00;
    color: #FF8C00 !important;
  }
  .active a{
    color: #FF8C00 !important;
    border-bottom: 2px solid #FF8C00;
  }
  a:active{
    color: #FF8C00;
}

.dropdown-menu {
    top: 135%;
    left: -80px !important;
    margin-top: var(--bs-dropdown-spacer);
    width: 289px;
}
.profile .dropdown-menu {
    top: 135%;
    left: -80px !important;
    margin-top: var(--bs-dropdown-spacer);
    width: 245px;
}
.noti-iocn i{
    background-color: #fff;
    box-shadow: 0px 3px 8px -1px rgba(0,0,0,0.75);
    height: 50px;
    border-radius: 50%;
    text-align: center;
    padding: 13px 16px;
    margin: 0 10px;
}
.noti-cont p{
    font-size: 15px;
    margin: 0;
}
.noti-cont h6{
    font-size: 16px;
    color: var(--primary-color);
}
.noti-iocn{
    position: relative;
    padding: 10px 0;
}
.noti-iocn::before{
    position: absolute;
    content: "";
    width: 100%;
    border: 1px solid var(--primary-color);
    bottom: 0;
}
.profile-title{
    position: relative;
    padding: 15px 0;
}
.profile-title::before{
    position: absolute;
    content: "";
    bottom: 0;
    width: 90%;
    border: 1px solid var(--primary-color);
}

.profile-iocn i{
    background: linear-gradient(90deg, rgba(255, 140, 0, 1) 14%, rgba(153, 84, 0, 1) 59%);
    border-radius: 50%;
    padding: 4px 10px;
    color: #fff;
    font-size: 22px;
}
.profile-iocn img{
    background: linear-gradient(90deg, rgba(255, 140, 0, 1) 14%, rgba(153, 84, 0, 1) 59%);
    border-radius: 50%;
    padding: 7px 7px;
    color: #fff;
    font-size: 22px;
}
.profiles{
    background-color: #fff;
    box-shadow: 0px 3px 8px -1px rgba(0,0,0,0.45);
    border-radius: 20px;
}



/* medai query start */
@media  (max-width: 768px) {
    .navbar-collapse {
        flex-basis: 100% !important;
        flex-grow: 0 !important;
        align-items: center;
    }
}
/* medai query end */