<!-- navbar start -->
<div class="container">
  <div class="row">
    <div class="col-2">
      <div class="mt-3">
        <select
          class="form-select"
          (change)="onLanguageChange($event)"
          id="langSelect"
        >
          <option
            *ngFor="let lang of getLanguages()"
            [value]="lang.code"
            [selected]="lang.code === translate.currentLang"
          >
            {{ lang.name }}
          </option>
        </select>
      </div>
    </div>
  </div>
</div>
<nav class="navbar navbar-expand-lg mt-4">
  <div class="container">
    <a class="navbar-brand" href="#">
      <img
        src="/assets/Img/logo/DimaondBazzarlogo (1).png"
        alt="DimaondBazzarlogo"
        width="100"
      />
    </a>

    <button
      class="navbar-toggler text-white"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon" style="background-color: #fff"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item pe-3">
          <a
            class="nav-link"
            aria-current="page"
            routerLink="/home"
            routerLinkActive="activebutton"
            >{{ "Home.Home" | translate }}</a
          >{{ "Home.Home" | translate }}
        </li>
        <li class="nav-item pe-3">
          <a
            class="nav-link"
            routerLink="/auction"
            routerLinkActive="activebutton"
          >
            {{ "Home.Auction" | translate }}</a
          >
        </li>
        <li class="nav-item pe-3" routerLinkActive="active">
          <a class="nav-link" routerLink="/Demand">
            {{ "Home.Demand" | translate }}</a
          >
        </li>
        <li class="nav-item pe-3" routerLinkActive="active">
          <a class="nav-link" routerLink="/Calculator">
            {{ "Home.Calculator" | translate }}</a
          >
        </li>
      </ul>
      <div class="icon d-flex flex-wrap align-items-center">
        <div class="dropdown">
          <button
            class="btn dropdown-toggle"
            type="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <i class="bi bi-bell-fill"></i>
          </button>
          <ul class="dropdown-menu">
            <div class="noti-title px-3">
              <h6>Today</h6>
            </div>
            <div class="notification px-3">
              <div class="noti-iocn d-flex align-item-center">
                <i class="bi bi-bell-fill"></i>
                <div class="noti-cont">
                  <p>Lorem ipsum dolor sit amet -pl adipisicing elit.</p>
                  <h6>10:20PM</h6>
                </div>
              </div>
              <div class="noti-iocn d-flex align-item-center">
                <i class="bi bi-bell-fill"></i>
                <div class="noti-cont">
                  <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  </p>
                  <h6>10:20PM</h6>
                </div>
              </div>
            </div>
          </ul>
        </div>
        <a routerLink="/Wishlist">
          <button class="btn">
            <i class="bi bi-heart-fill"></i>
          </button>
        </a>
        <div class="profile">
          <div class="dropdown">
            <button
              class="btn dropdown-toggle"
              type="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              <i class="bi bi-person-fill"></i>
            </button>
            <ul class="dropdown-menu">
              <div class="profile-title px-3">
                <div class="profile-img d-flex align-items-center">
                  <img
                    src="../../../../assets/Img/slider/client.png"
                    alt="client"
                    width="50"
                  />
                  <h5 class="ms-3">Cristal Crizzal</h5>
                </div>
              </div>

              <!-- myprofile start -->
              <div
                class="profiles mx-2 mt-3 d-flex align-items-center justify-content-between"
              >
                <a routerLink="/myprofile">
                  <button class="btn p-0">
                    <div class="profile-iocn d-flex align-items-center">
                      <i class="bi bi-person-fill"></i>
                      <h6 class="ms-3">My Profile</h6>
                    </div>
                  </button>
                </a>
                <div class="right-arrow me-3">
                  <img
                    src="../../../../assets/Img/slider/right-arrow.png"
                    alt="right-arrow"
                    width="20"
                  />
                </div>
              </div>
              <!-- myprofile end -->

              <!-- subscription start -->
              <div
                class="profiles mt-3 mx-2 d-flex align-items-center justify-content-between"
              >
                <div class="profile-iocn">
                  <button
                    class="btn d-flex flex-wrap align-items-center p-0"
                    data-bs-toggle="modal"
                    data-bs-target="#exampleModal1"
                    type="button"
                  >
                    <img
                      src="../../../../assets/Img/slider/subscribe.png"
                      alt="subscribe"
                      width="40"
                    />
                    <h6 class="ms-3">Subscription</h6>
                  </button>
                </div>
                <div class="right-arrow me-3">
                  <img
                    src="../../../../assets/Img/slider/right-arrow.png"
                    alt="right-arrow"
                    width="20"
                  />
                </div>
              </div>
              <!-- subscription end -->

              <!-- support start -->
              <div
                class="profiles mt-3 mx-2 d-flex align-items-center justify-content-between"
              >
                <div class="profile-iocn">
                  <button
                    class="btn d-flex flex-wrap align-items-center p-0"
                    data-bs-toggle="modal"
                    data-bs-target="#exampleModal"
                    type="button"
                  >
                    <img
                      src="../../../../assets/Img/slider/customer-service.png"
                      alt="customer-service"
                      width="40"
                    />
                    <h6 class="ms-3">Support</h6>
                  </button>
                </div>
                <div class="right-arrow me-3">
                  <img
                    src="../../../../assets/Img/slider/right-arrow.png"
                    alt="right-arrow"
                    width="20"
                  />
                </div>
              </div>
              <!-- support end -->

              <!-- logout start -->
              <div
                class="profiles mt-3 mx-2 d-flex align-items-center justify-content-between"
              >
                <div class="profile-iocn d-flex align-items-center">
                  <img
                    src="../../../../assets/Img/slider/logout.png"
                    alt="customer-service"
                    width="40"
                  />
                  <h6 class="ms-3">LogOut</h6>
                </div>
                <div class="right-arrow me-3">
                  <img
                    src="../../../../assets/Img/slider/right-arrow.png"
                    alt="right-arrow"
                    width="20"
                  />
                </div>
              </div>
              <!-- logout end -->
            </ul>
          </div>
        </div>
      </div>
      <!-- <ul class="d-flex" role="search">
                <li class="nav-item">
                  <select class="form-select" (change)="onLanguageChange($event)" id="langSelect">
                    <option *ngFor="let lang of getLanguages()" [value]="lang" [selected]="lang === translate.currentLang">{{ lang }}</option>
                  </select>
                </li>
              </ul> -->
    </div>
  </div>
</nav>
<!-- navbar End -->

<!-- support modal start -->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title text-center fs-5" id="exampleModalLabel">
          Support
        </h1>
        <button
          type="button"
          class="btn-close btn-white"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form action="" (ngSubmit)="OnChangeDataAdd()" #supportForm="ngForm">
          <div class="col-lg-6 col-md-6 col-sm-12 mt-3">
            <label for="businesscategory" class="form-label">Business Category</label>
            <div class="input-container">
              <select class="form-select" aria-label="Default select example" (change)="onCategoryChange($event)" #categorySelect>
                <option [value]="null" selected>Open this select menu</option>
                <option *ngFor="let category of SupportTypesData" [value]="category.supportTypeID">
                  {{ category.supportType }}
                </option>
              </select>
            </div>
          </div>
          <div class="mb-3">
            <div class="input-container">
              <img src="../../../../assets/Img/Calcu/title.png" alt="title.png" width="20" class="call-icon" />
              <input type="text" id="supportTitle" class="form-control" placeholder="support Title" [(ngModel)]="SupportData.supportTitle" name="supportTitle" #supportTitle="ngModel" required />
            </div>
          </div>
          <div class="mb-3">
            <div class="input-container">
              <img src="../../../../assets/Img/Calcu/text-file.png" alt="text-file.png" width="20" class="call-icon" />
              <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Description" [(ngModel)]="SupportData.supportDescription" name="supportDescription" #supportDescription="ngModel" required></textarea>
            </div>
          </div>
          <div class="mb-3">
            <div class="input-container">
              <img src="../../../../assets/Img/Calcu/attach.png" alt="attach.png" width="20" class="call-icon" />
              <input type="file" id="attachement" class="form-control" placeholder="upload image" (change)="onFileSelectedLogo($event)" #fileInput />
            </div>
          </div>
          <div class="mb-3">
            <div class="sub-btn text-center">
              <button type="submit" class="btn bg-dark text-white rounded-5" data-bs-dismiss="modal">Submit</button>
            </div>
          </div>
        </form>
        
      </div>
      <!-- <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div> -->
    </div>
  </div>
</div>
<!-- support modal end -->

<!-- subscripion modal start -->
<section class="subss">
  <div
    class="modal fade"
    id="exampleModal1"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title text-center fs-5" id="exampleModalLabel">
            Subscription
          </h1>
          <button
            type="button"
            class="btn-close bg-white"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body background-container">
          <div class="Premium">
            <div
              class="sub-img d-flex flex-wrap align-items-center justify-content-center"
            >
              <img
                src="../../../../assets/Img/Calcu/fisrt.png"
                alt=""
                width="70"
              />
              <h4>Premium</h4>
              <img
                src="../../../../assets/Img/Calcu/second.png"
                alt=""
                width="50"
              />
            </div>
          </div>
          <div class="subscription">
            <div
              class="sub-img d-flex flex-wrap align-items-center justify-content-center"
            >
              <img
                src="../../../../assets/Img/Calcu/third.png"
                alt=""
                width="70"
              />
              <h4>subscription</h4>
              <img
                src="../../../../assets/Img/Calcu/four.png"
                alt=""
                width="50"
              />
            </div>
          </div>
          <div class="subscri-price text-center">
            <h4>₹649</h4>
          </div>
          <div class="activation">
            <div class="card px-3 py-1">
              <div
                class="activ d-flex flex-wrap align-items-center justify-content-between"
              >
                <h4>Activation Date</h4>
                <h5>{{ SubscriptionData.starttime | date:'dd/MM/yyyy' }}</h5>
              </div>
            </div>
          </div>
          <div class="expiry my-3">
            <div class="card px-3 py-1">
              <div
                class="exp d-flex flex-wrap align-items-center justify-content-between"
              >
                <h4>Expiry Date</h4>
                <h5>{{ SubscriptionData.endtime | date:'dd/MM/yyyy' }}</h5>
              </div>
            </div>
          </div>
          <div class="payment">
            <div class="card px-3 py-1">
              <div
                class="mod d-flex flex-wrap align-items-center justify-content-between"
              >
                <h4>Payment Method</h4>
                <h5>{{ getPaymentMethod(SubscriptionData.paymentMode) }}</h5>
              </div>
            </div>
          </div>
        </div>
        <!-- <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Save changes</button>
            </div> -->
      </div>
    </div>
  </div>
</section>
<!-- subscripion modal end -->
