/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Calistoga&display=swap');

body{
    font-family: "Calistoga", serif;
}
h1,h2,h3,h4,h5,h6,p{
    font-family: "Calistoga", serif;
    font-weight: 100,200,300,400,500,600,700;
}

:root{
    --primary-color:#FF8C00;
    --secondary-color:#000
}