<!-- header start -->
<!-- <nav class="navbar navbar-expand-lg">
    <div class="container">
        <a class="navbar-brand" href="#">
            <img src="../../../../assets/Img/logo/DimaondBazzarlogo (1).png" alt="DimaondBazzarlogo" width="100">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active text-white" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item mx-4">
                    <a class="nav-link text-white" href="#">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="#">Features</a>
                </li>
                <li class="nav-item mx-4">
                    <a class="nav-link text-white" href="#">Screens</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="#">Testimonial</a>
                </li>

            </ul>
            <div class="start">
                <button class="btn text-white border">Get Started</button>
            </div>
        </div>
    </div>
</nav> -->
<nav class="p-3">
    <div class="container">
        <div class="navbar navbar-expand-lg justify-content-between">
            <div class="navbar-brand">
                <!-- <img src="../../../../assets/Image/logo/DimaondBazzarlogo (1).png" alt="" class="img-fluid" -->
                <img src="../../../assets/Image/logo/DimaondBazzarlogo (1).png" alt="" class="img-fluid"
                    style="width:150px">
            </div>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-lg-end" id="navbarSupportedContent">
                <ul class="navbar-nav">
                    <li><a href="#" class="nav-link text-white pt-2">Home</a></li>
                    <li><a href="#" class="nav-link text-white pt-2">About Us</a></li>
                    <li><a href="#" class="nav-link text-white pt-2">Features</a></li>
                    <li><a href="#" class="nav-link text-white pt-2">Screens</a></li>
                    <li><a href="#" class="nav-link text-white pt-2">Testimonial</a></li>
                </ul>
                <div class="start">
                    <button RouterLink="/" class="btn text-white border">Login</button>
                </div>
            </div>
        </div>
    </div>
</nav>
<!-- header end -->

<!-- slider start -->
<section class="slider">
    <div class="overlay">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="banner text-center">
                        <div class="banner-img">
                            <img src="../../../assets/Image/banner/diamond.png" alt="diamond" width="100">
                        </div>
                        <div class="banner-cont" data-aos="fade-down">
                            <h6>WELCOME TO THE DIAMOND BAZZAR!!</h6>
                        </div>
                        <div class="banner-title" data-aos="fade-down">
                            <h1>Creating Memories in Every Carat</h1>
                        </div>
                        <div class="dis-btn mt-5" data-aos="fade-left">
                            <button class="btn">Discover More</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- slider End -->

<!-- features start -->
<section class="feature">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="title text-center mb-3" data-aos="fade-up-right">
                    <h2>Features</h2>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12">
                <div class="feature-box">
                    <div class="card">
                        <img src="../../../assets/Image/feature/feature1.png" alt="feature" class="card-img-top">
                        <div class="card-cont d-flex align-items-center">
                            <img src="../../../assets/Image/feature/fea-icon1.png" alt="" data-aos="zoom-out">
                            <div class="fea-cont ms-2 py-2" data-aos="zoom-out">
                                <h5>Certification and Appraisal </h5>
                                <h6>We offer certification to verify the quality and value of your diamonds.</h6>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12">
                <div class="feature-box">
                    <div class="card">
                        <Img src="../../../assets/Image/feature/feature2.png" alt="feature" class="card-img-top">
                        <div class="card-cont d-flex align-items-center">
                            <img src="../../../assets/Image/feature/fea-icon2.png" alt="" data-aos="zoom-out">
                            <div class="fea-cont ms-2 py-2" data-aos="zoom-out">
                                <h5>Diamond Sourcing</h5>
                                <h6>We source diamonds directly from reputable mines, ensuring ethical practices and
                                    conflict-free origins.</h6>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12">
                <div class="feature-box">
                    <div class="card">
                        <img src="../../../assets/Image/feature/feature3.png" alt="feature" class="card-img-top">
                        <div class="card-cont d-flex align-items-center">
                            <img src="../../../assets/Image/feature/fea-iocn3.png" alt="" data-aos="zoom-out">
                            <div class="fea-cont ms-2 py-2" data-aos="zoom-out">
                                <h5>Custom Orders</h5>
                                <h6>Our experts can help you find or create the perfect diamond for any occasion,
                                    whether it’s for an ring, investment, or special gift.</h6>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</section>
<!-- features End -->

<!-- about start -->
<section class="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 mx-0 px-0">
                <div class="about-cont">
                    <div class="about-title" data-aos="fade-down" data-aos-easing="linear" data-aos-duration="1500">
                        <h3>About Us</h3>
                    </div>
                    <div class="about-cont" data-aos="fade-down" data-aos-easing="linear" data-aos-duration="2000">
                        <p>Welcome to Diamond Bazzar, a leader in the diamond industry. We are dedicated to providing
                            the Platforms For diamonds and exceptional customer service to clients worldwide. Our
                            commitment to excellence, integrity, and transparency has established us as a trusted name
                            in diamond trading.</p>
                    </div>
                    <div class="about-btn">
                        <button class="btn px-4">Read More</button>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 mx-0 px-0">
                <div class="about-img">
                    <img src="../../../assets/Image/about/about.jpeg" alt="about" class="img-fluid">
                </div>
            </div>

        </div>
        <div class="dia-icon">
            <img src="../../../assets/Image/banner/diamond.png" alt="diamond" width="100">
        </div>
    </div>
</section>
<!-- about end -->

<!-- our app start -->
<section class="app">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="title text-center" data-aos="fade-up">
                    <h2>Some Glimpse Of Our App</h2>
                </div>
                <div class="app-cont text-center my-4">
                    <p class="w-50 mx-auto">We serve clients worldwide, offering reliable and efficient shipping and handling services.
                    </p>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="app-img">
                    <img src="../../../assets/Image/App/screenshoorts (1).svg" alt="" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- our app end -->

<!-- statistics start -->
<section class="statistics">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="title text-center mb-4">
                    <h2 class="text-white">Statistics</h2>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12">
                <div class="use mb-3">
                    <div class="card">
                        <div class="overlay">
                            <div class="sta-icon">
                                <img src="../../../assets/Image/statistics/user.png" alt="user">
                            </div>
                            <div class="sta-no mt-2">
                                <h3>300+</h3>
                            </div>
                            <div class="sta-us">
                                <h5>Users</h5>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12">
                <div class="deals mb-3">
                    <div class="card">
                        <div class="overlay">
                            <div class="sta-icon">
                                <img src="../../../assets/Image/statistics/deal.png" alt="user">
                            </div>
                            <div class="sta-no mt-2">
                                <h3>240+</h3>
                            </div>
                            <div class="sta-us">
                                <h5>Deals Done</h5>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12">
                <div class="posting">
                    <div class="card">
                        <div class="overlay">
                            <div class="sta-icon">
                                <img src="../../../assets/Image/statistics/add-post.png" alt="user">
                            </div>
                            <div class="sta-no mt-2">
                                <h3>100+</h3>
                            </div>
                            <div class="sta-us">
                                <h5>posting</h5>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
<!-- statistics End -->
<!-- testimonial start -->
<section class="reviwes">
    <div class="reviwe-slider reviews">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="title text-white text-center">
                <h2>What The People Thinks About Us</h2>
            </div>
        </div>
        <div class="module-slider">
            <owl-carousel-o [options]="customOptions">
                <ng-template carouselSlide>
                    <div class="item">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <div class="card  text-white p-5 position-relative mt-5">
                                        <div class="review-text">
                                            <img src="../../../../assets/Img/statistics/quote.svg" alt="">
                                            <p class="text-uppercase">"I’m extremely impressed with Diamond Bazzar's
                                                exceptional service and attention to detail. Their transparency in every
                                                transaction gives me full confidence in my purchases."
                                            </p>
                                        </div>
                                    </div>
                                    <div class="review-info mt-4 d-flex align-items-center">
                                        <div class="review-img d-flex  position-relative">
                                            <img src="../../../../assets/Img/NakliInsaan/images.png" class="rounded-circle"
                                                width="100px" alt="">
                                        </div>
                                        <div class="text-white ms-3">
                                            <h5 class="text-uppercase">– Maheshbhai Patel,</h5>
                                            <h5 class="text-uppercase">Bardoli, Gujarat.</h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <div class="card  text-white p-5 position-relative mt-5">
                                        <div class="review-text">
                                            <img src="../../../../assets/Img/statistics/quote.svg" alt="">
                                            <p class="text-uppercase">"Diamond Bazzar is my go-to for all diamond
                                                sourcing needs. Their professionalism and commitment to quality are
                                                unmatched. From selection to delivery."
                                            </p>
                                        </div>
                                    </div>
                                    <div class="review-info mt-4 d-flex align-items-center">
                                        <div class="review-img d-flex  position-relative">
                                            <img src="../../../../assets/Img/NakliInsaan/images.png" class="rounded-circle"
                                                width="100px" alt="">
                                        </div>
                                        <div class="text-white ms-3">
                                            <h5 class="text-uppercase">– Vishnu Desai,</h5>
                                            <h5 class="text-uppercase">Surat</h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </owl-carousel-o>
        </div>
    </div>
</section>
<!-- testimonial end -->

<!-- download app start -->
<section class="down">
    <div class="container">
        <div class="downs">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="down-cont">
                        <h5>DIAMOND BAZZAR</h5>
                        <h4 class="text-white">Download The App Now</h4>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="down-btn">
                        <div class="play">
                            <a href="">
                                <button class="btn border me-3" >
                                  <a target="_blank" href="https://play.google.com/store/apps/details?id=in.diamondbazzar">
                                    <img  src="../../../assets/Image/Download/playstore.png" alt="playstore"
                                    width="150">
                                  </a>
                                </button>
                            </a>
                            <a href="">
                                <button class="btn border">
                                    <a href="https://apps.apple.com/app/diamond-bazzar-your-gem-hub/id6670790184" target="_blank" rel="noopener noreferrer">
                                        <img src="../../../assets/Image/Download/appstore.png" alt="appstore" width="150">

                                    </a>
                                </button>
                            </a>
                        </div>

                    </div>

                </div>
            </div>
        </div>
        <div class="diamond-img">
            <img src="../../../assets/Image/banner/diamond.png" alt="" width="150">
        </div>
    </div>
</section>
<!-- download app end -->

<!-- footer start -->
<section class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-md-5 col-sm-12">
                <div class="foot-logo mb-3">
                    <img src="../../../assets/Image/logo/DimaondBazzarlogo (1).png" alt="DimaondBazzarlogo"
                        width="150">
                </div>
                <div class="foot-cont text-white">
                    <p>Dedicated to excellence and transparency in the diamond industry, offering quality and trust you can rely on.</p>
                </div>
                <div class="socail-icon mt-4">
                    <div class="insta mb-3">
                        <a href="">
                            <button class="btn text-white">
                                <i class="bi bi-instagram"></i>
                            </button>
                        </a>
                        <a href="">
                            <button class="btn text-white">
                                <i class="bi bi-facebook"></i>
                            </button>
                        </a>
                        <a href="">
                            <button class="btn text-white">
                                <i class="bi bi-twitter-x"></i>
                            </button>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-12">
                <div class="compn">
                    <div class="title">
                        <h3>Company</h3>
                    </div>
                    <div class="comp-list">
                        <ul>
                            <li><a href="">Home</a></li>
                            <li><a href="">About Us</a></li>
                            <li><a href="">Features</a></li>
                            <li><a href="">Screens</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-12">
                <div class="compn">
                    <div class="title">
                        <h3>Links</h3>
                    </div>
                    <div class="comp-list">
                        <ul>
                            <li><a href="">Help</a></li>
                            <li><a routerLink="/privacy">Privacy Policy</a></li>
                            <li><a routerLink="/terms">Terms Of Use</a></li>
                            <li><a href="">Services</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12">
                <div class="compn">
                    <div class="title">
                        <h3>Get The Latest Information</h3>
                    </div>
                    <form class="d-flex mt-4">
                        <div class="mb-3 newsletter d-flex flex-wrap align-items-center">
                            <input type="text" class="send-input py-1 px-3" placeholder="Email Address">
                            <button class="btn paper-plan-bg">
                                <i class="bi bi-chevron-right text-white"></i>
                            </button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- footer End -->