<app-nav></app-nav>

<section class="rankbid mt-3">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="title">
                    <h2>Bids</h2>
                </div>
            </div>
    
            <div class="col-lg-6">
                <div class="bids-img mb-3">
                    <img src="../../../../assets/Img/Auctoin/bids.png" alt="" class="img-fluid">
                </div>
            </div>
    
            <div class="col-lg-6">
                <div class="card p-3">
                    <div class="bid-rank d-flex flex-wrap align-items-center justify-content-between">
                        <div class="bid-price">
                            <h5>₹5,000</h5>
                            <h6>Starting Bid</h6>
                        </div>
                        <div class="bid-date">
                            <h5>Ends 3h : 15m : 50s</h5>
                            <h6>Time Left</h6>
                        </div>
                    </div>
                </div>
                <div class="card p-3 my-3">
                    <div class="diamond-name">
                        <h3>Rough Diamond</h3>
                        <h5>KP Diamonds</h5>
                    </div>
                    <div class="compnay-des my-3">
                        <h6>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus quasi nesciunt dicta
                            necessitatibus dolores labore illo voluptates excepturi sint eaque!</h6>
                    </div>
                    <div class="bid-content d-flex flex-wrap align-items-center justify-content-between">
                        <div class="piece text-center">
                            <h5>Piece</h5>
                            <h6>778</h6>
                        </div>
                        <div class="size text-center">
                            <h5>Size</h5>
                            <h6>5-6</h6>
                        </div>
                        <div class="weight text-center">
                            <h5>Weight</h5>
                            <h6>46.00</h6>
                        </div>
                        <div class="color text-center">
                            <h5>Color</h5>
                            <h6>Cognac</h6>
                        </div>
                    </div>
                </div>
    
                <div class="card p-3">
                    <div class="bidders">
                        <div class="title mb-3">
                            <h3>Bidders</h3>
                        </div>
                        <div class="row">
                            <div class="col-lg-3 col-md-6 col-sm-12">
                                <div class="bidder-logo mb-4">
                                    <img src="../../../../assets/Img/Auction/biddersjpeg.jpeg" alt="" >
                                </div>
                            </div>
                            <div class="col-lg-5 col-md-5 col-sm-12">
                                <div class="bidders-name text-start mt-2">
                                    <h4>Marut Jevani</h4>
                                    <h5>01h 34m ago</h5>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-12">
                                <div class="bidder-price mt-2">
                                    <h5>₹35,000</h5>
                                </div>
                            </div>
    
                            <div class="col-lg-3">
                                <div class="bidder-logo">
                                    <img src="../../../../assets/Img/Auction/biddersjpeg.jpeg" alt="" >
                                </div>
                            </div>
                            <div class="col-lg-5">
                                <div class="bidders-name text-start mt-2">
                                    <h4>Marut Jevani</h4>
                                    <h5>01h 34m ago</h5>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="bidder-price mt-2">
                                    <h5>₹35,000</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
    
                <div class="place-btn my-3">
                    <button class="btn" routerLink="/bidrankperview">Place A Bid!</button>
                </div>
            </div>
        </div>
    </div>
</section>




<app-footer></app-footer>