<app-nav></app-nav>
<section class="polish-post">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="card px-3">
                    <!-- <div class="profile-process my-5 d-flex align-items-center justify-content-between">
                        <div class="process-img">
                            <img src="../../../../assets/Img/profile/1.png" alt>
                        </div>
                        <div class="process-img2">
                            <img src="../../../../assets/Img/profile/21.png" alt>
                        </div>
                        <div class="process-img3">
                            <img src="../../../../assets/Img/profile/31.png" alt>
                        </div>
                    </div> -->

                    <div class="pagination-container">
                        <ul class="pagination">
                            <li *ngFor="let page of [].constructor(totalpages); let i = index"
                                [class.active]="isActive(i + 1)"
                                (click)="setpage(i + 1)">
                              {{ i + 1 }}
                            </li>
                          </ul>
                        </div>
                    <div class="polishform">
                        <div style="display: flex;justify-content: center;" class="mb-5">
                            <h5><b>Preview</b></h5>
                        </div>
                        <form action>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        <input type="text" class="form-control" placeholder="Type : Loose Diamonds(LD)">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        <input type="text" class="form-control" placeholder="Shape : Round">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div style="display: flex; gap: 50px;">
                                      <div class="mb-3 col-lg-8">
                                          <input type="text" class="form-control" placeholder="Size : General">
                                      </div>
                                      <div class="mb-3 col-lg-3">
                                          <input type="text" class="form-control" placeholder="-2">
                                      </div>
                                    </div>
                                  </div>
                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        <input type="text" class="form-control" placeholder="Price Per Carat : ₹5000">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        <input type="text" class="form-control" placeholder="Color : D To Z">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        <input type="text" class="form-control" placeholder="Piece : 4">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        <input type="text" class="form-control" placeholder="Weight : 10gm">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        <input type="text" class="form-control" placeholder="Natts : Yes">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        <input type="text" class="form-control" placeholder="Remarks : Yes">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        <input type="text" class="form-control"
                                            placeholder="Location :   Lorem ipsum dolor sit amet, consect ">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        <input type="text" class="form-control"
                                            placeholder="Terms :  Lorem ipsum dolor sit amet, consect ">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        <input type="text" class="form-control" placeholder="Type : Loose Diamonds(LD)">
                                    </div>
                                </div>
                                <div class="mb-3 mt-4">
                                    <h4><b>Special Requirements</b></h4>
                                </div>
                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        <input type="text" class="form-control" placeholder="Cut :   3EX ">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        <input type="text" class="form-control" placeholder="Fluorescence : Medium">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        <input type="text" class="form-control"
                                            placeholder="Length :- From : 12 ">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        <input type="text" class="form-control"
                                            placeholder="Length :- To : 13 ">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        <input type="text" class="form-control"
                                            placeholder="Width :-   From : 12 ">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        <input type="text" class="form-control"
                                            placeholder="Width :-   From : 12  ">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="prev-btn mt-4 mb-3">
                                        <a routerLink="/polishpost1">
                                        <button class="btn" (click)="prevpage()">
                                            <i class="bi bi-arrow-left"></i>Prev</button>
                                        </a>
                                    </div>
                                </div>
                             
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>











