<app-nav></app-nav>
<section class="Calculator">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="calcu-img">
                    <img src="../../../../assets/Img/Calcu/Calculator-amico1.png" alt="">
                </div>
            </div>
            <div class="col-lg-8">
                <div class="cal-form">
                    <div class="card p-3">
                        <form action="">
                            <div class="row">
                                <div class="mb-3 col-lg-12">
                                    <label for="" class="form-label"> {{ "Home.Total Carat Wt" | translate }}</label>
                                    <input type="text" placeholder="10" class="form-control">
                                </div>
                                <div class="col-lg-6">
                                    <label for="" class="form-label"> {{ "Home.Price / Cart" | translate }}</label>
                                   <div class="price-input d-flex align-item-center">
                                    <input type="text" placeholder="₹" class="form-control" style="width: 70px; margin-right: 5px;">
                                    <input type="text" class="form-control">
                                   </div>
                                </div>
                                <div class="col-lg-6">
                                    <label for="" class="form-label"> {{ "Home.terms" | translate }}%</label>
                                   <div class="price-input d-flex align-item-center">
                                    <input type="text" placeholder="__" class="form-control" style="width: 70px; margin-right: 5px;">
                                    <input type="text" class="form-control">
                                   </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="my-4">
                                        <label for="" class="form-label"> {{ "Home.Due Days" | translate }}</label>
                                    <div class="due-days d-flex align-items-center">
                                        <input type="text" placeholder="20" class="form-control" style="width: 50px;">
                                        <div class="payment-date">
                                            <div class="card border-0">
                                                <h6>{{ "Home.Payment Date " | translate }}: 25-07-2024</h6>
                                            </div>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="my-4">
                                        <label for="" class="form-label">{{ "Home.Conversion Rate" | translate }}</label>
                                        <div class="rate d-flex align-item-center">
                                            <input type="text" placeholder="$" style="width: 50px; margin-right: 5px;" class="form-control">
                                            <input type="text" placeholder="Enter Conversion Rate" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        <label for="" class="form-label">{{ "Home.Brokerage %" | translate }}</label>
                                        <input type="text" placeholder="2" class="form-control">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="display-data">
                                        <div class="total-amount">
                                            <div class="card">
                                                <h6>{{ "Home.Total Amount" | translate }}: ₹4750.00</h6>
                                            </div>
                                        </div>
                                        <div class="brokerage-amount">
                                            <div class="card">
                                                <h6>{{ "Home.Brokerage Amount" | translate }}: ₹95.00</h6>
                                            </div>
                                        </div>
                                        <div class="Total-amount">
                                            <div class="card">
                                                <h6>{{ "Home.Total Amount" | translate }}: ₹4750.00</h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
    
                                <div class="col-lg-12">
                                    <div class="rest-btn text-center mt-5">
                                        <button class="btn">{{ "Home.Reset" | translate }}</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
