<app-nav></app-nav>
<section class="Calculator">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="calcu-img">
                    <img src="../../../../assets/Img/Calcu/Calculator-amico1.png" alt="">
                </div>
            </div>
            <div class="col-lg-7">
                <div class="card p-3">
                    <form action="">
                        <div class="row">
                            <div class="mb-3 col-lg-12">
                                <label for="" class="form-label">Total Carat Wt</label>
                                <input type="text" placeholder="10" class="form-control">
                            </div>
                            <div class="col-lg-6">
                                <label for="" class="form-label">Price / Cart</label>
                               <div class="price-input d-flex align-item-center">
                                <input type="text" placeholder="₹" class="form-control" style="width: 70px; margin-right: 5px;">
                                <input type="text" class="form-control">
                               </div>
                            </div>
                            <div class="col-lg-6">
                                <label for="" class="form-label">Terms %</label>
                               <div class="price-input d-flex align-item-center">
                                <input type="text" placeholder="__" class="form-control" style="width: 70px; margin-right: 5px;">
                                <input type="text" class="form-control">
                               </div>
                            </div>
                            <div class="col-lg-6">
                                <label for="" class="form-label">Due Days</label>
                                <div class="due-days d-flex align-items-center">
                                    <input type="text" placeholder="20" class="form-control" style="width: 50px;">
                                    <div class="payment-date">
                                        <div class="card border-0">
                                            <h6>Payment Date : 25-07-2024</h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="mb-3">
                                    <label for="" class="form-label">Conversion Rate</label>
                                    <div class="rate d-flex align-item-center">
                                        <input type="text" placeholder="$" style="width: 50px; margin-right: 5px;" class="form-control">
                                        <input type="text" placeholder="Enter Conversion Rate" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="mb-3">
                                    <label for="" class="form-label">Brokerage %</label>
                                    <input type="text" placeholder="2" class="form-control">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="display-data">
                                    <div class="total-amount">
                                        <div class="card">
                                            <h6>Total Amount: ₹4750.00</h6>
                                        </div>
                                    </div>
                                    .brok
                                </div>
                            </div>
                        </div>
                       
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
