
<app-nav></app-nav>


<section class="bar">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-6">
                <div class="card px-3 my-4">
                    <!-- <div
                        class="profile-process my-5 d-flex align-items-center justify-content-between">
                        <div class="process-img">
                            <img src="../../../../assets/Img/profile/1.png" alt>
                        </div>
                        <div class="process-img2">
                            <img src="../../../../assets/Img/profile/2.png" alt>
                        </div>
                        <div class="process-img3">
                            <img src="../../../../assets/Img/profile/3.png" alt>
                        </div>
                    </div> -->
                    <div class="pagination-container">
                    <ul class="pagination">
                        <li *ngFor="let page of [].constructor(totalpages); let i = index"
                            [class.active]="isActive(i + 1)"
                            (click)="setpage(i + 1)">
                          {{ i + 1 }}
                        </li>
                      </ul>
                    </div>

                    <!-- shap tab start -->

                    <div>
                       

                        <div class="tab-content" id="pills-tabContent">
                            <h4>Type</h4>

                            <app-polishtype [metadata]="metadata" [displayType]="CategoryDisplayStyle.DiamondType"></app-polishtype>


                            <!-- naturla tab start -->
                           <app-polishshap></app-polishshap>
                            <!-- natural tab end -->

                        </div>

                       
                    </div>

                    <!-- shap tab end -->

                    <!-- size tab start -->

                  <!-- <app-postsize ></app-postsize> -->
                  <div class="chip-list-container">
                    <div class="chip" *ngFor="let size of metadata" [class.active]="size.isActive">
                      <div class="card py-2">
                        <div *ngIf="metadata.length > 0">
                          <div [ngSwitch]="displayType">
                            <div *ngSwitchCase="CategoryDisplayStyle.SelectionListHorizontal" class="polish-tab">
                              <ul class="nav nav-pills my-5" id="pills-tab" role="tablist">
                                <li *ngFor="let tab of size.tabs; let i = index" class="nav-item" role="presentation">
                                  <h6>{{ tab.metaDataOutputs.metaDataTitle }}</h6>
                                </li>
                              </ul>
                              <div class="tab-content" id="pills-tabContent">
                                <div *ngFor="let tab of size.tabs; let i = index"
                                     [id]="'pills-content-' + i"
                                     class="tab-pane fade"
                                     [ngClass]="{'show active': i === 0}"
                                     role="tabpanel"
                                     [attr.aria-labelledby]="'pills-tab-' + i">
                                  <p>test</p>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  

                    <!-- size tab end -->

                    <!-- color tab start -->
                    <app-postcolor></app-postcolor>
                    <!-- color tab end -->

                    <div class="sub-btn my-4">
                        <a routerLink="/polishpost1"  routerLinkActive="activebutton"S>
                            <button class="btn" (click)="nextpage()">Next</button>
                        </a>
                    </div>
                

                </div>
            </div>
        </div>
    </div>
</section>