.nav{
    align-items: center !important;
    justify-content: center !important;
}

.nav-item .nav-link{
    background-color: #fff;
    box-shadow: 0px 3px 8px -1px rgba(0,0,0,0.75);
    margin: 30px 30px;
    padding: 10px 20px;
    color: var(--primary-color);
    font-size: 20px;
    width: 200px;
    font-weight: 600;
}
.nav-pills .nav-link.active{
    color: #fff;
    background: linear-gradient(90deg, rgba(255,140,0,1) 14%, rgba(153,84,0,1) 59%);
  }
.lab-product .card{
    border: 0;
    margin: 15px 0;
    background-color: rgba(255, 255, 255, 0.319);
    box-shadow: 0px 3px 8px 1px rgba(234, 234, 234, 0.75);
}
.price h4{
    font-weight: 500;
    font-size: 20px;
}
.price h5{
    display: flex;
    flex-wrap: wrap;
    max-width: 200px;
}
.price  h5 {
    margin-right: -21px;
    width: 50%;
}
.price{
    position: relative;
}
.dot  {
    position: absolute;
    left: 48%;
    top: 3%;
    transform: translate(-50%);
}
.price h4,h5{
    font-family: var(--theme-fonts);
}
.price h5{
    font-size: 19px;
}
.pro-img{
    background-color: #000;
    border-radius: 15px;
    padding: 20px 15px;
}
.sticky-top-glass {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background: rgba(255, 255, 255, 0.2); 
    backdrop-filter: blur(10px);
    /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);  */
    border-radius: 10px; 
    z-index: 1; 
    padding: 10px 20px; 
  }

  .nodatafound { 
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 50%;;
}


  .erorrmsg {
    width: 100%;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }