

.login-section{
    overflow: hidden;
}

.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}
.container-fluid{
    padding: 0 0 0 0;
}
.login-img{
    background-image: url(../../../../../assets/NewImage/login/Login.png);
    background-size: cover;
    height: 100vh;
    width: 100vh;
}
.login-form{
    margin: 15% 0 ;
}
.title h2{
    font-weight: 700;
    font-size: 42px;
    margin: 0 10%;
}
input{
    border: 1px solid #000;
}
.h-custom {
height: calc(100% - 73px);
}

.floating-form {
    position: relative;
  }
  .floating-form .form-control {
    background: transparent;
    position: relative;
    z-index: 50;
  }
  .floating-form .form-control:focus, .floating-form .form-control:active, .floating-form .form-control:valid {
    outline: none !important;
    box-shadow: none !important;
  }
  .floating-form .form-control:focus + label, .floating-form .form-control:active + label, .floating-form .form-control:valid + label {
    transform: translateY(-40%);
    top: -2px;
    z-index: 100;
    font-size: 18px;
  }
  .floating-form label {
    padding-left: 5px;
    padding-right: 5px;
    position: absolute;
    top: 50%;
    left: 0.75rem;
    z-index: 1;
    font-size: 18px;
    transform: translateY(-50%);
    transition: all 0.3s;
    background: #fff;
    color: #000;
    font-weight: 500;
  }
  .floating-form textarea + label {
    top: 1.275rem;
  }
  .floating-form input{
    font-size: 17px;
  }

  .login-btn{
    background-color: #000;
    width: 50%;
    margin: 25px 20%;
    padding: 5px 0;
    border-radius: 50px;
    text-align: center;
}
.signup-btn{
    margin: 10px 37%;
}
.login-btn .btn{
    font-size: 24px;
    font-weight: 700;
}
.signup p{
    margin: 0 29%;
    font-weight: 600;
}
.signup-btn a{
    text-decoration: none;
    font-size: 22px;
    font-weight: 500;
    font-family: var(--fonts);
}
.signup-btn{
    position: relative;
}
.signup-btn:before{
    content: '';
    width: 100%;
    height: 2px;
    background: #000;
    right: 100%;
    top: 50%;
    position: absolute;
}
.signup-btn:after{
    content: '';
    width: 100%;
    height: 2px;
    background: #000;
    left: 55%;
    top: 50%;
    position: absolute;
}
.forget-pass h6{
    margin: 5px 10% 0 0;
    cursor: pointer;
}

.otp-container {
    display: flex;
    align-items: center;
    margin: 20px;
    font-family: Arial, sans-serif;
    justify-content: center;
  }
  
  h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .otp-input-group {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
  }
  
  .otp-input {
    width: 40px;
    height: 40px;
    text-align: center;
    font-size: 18px;
    border: 2px solid #ccc;
    border-radius: 5px;
  }
  
  .verify-btn .btn {
    background-color: #000;
    color: #fff;
    padding: 10px 50px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
  }

  #otp-input-0{
    width: 7%; 
    margin: 10px 9px; 
    border-radius: 15px; 
    padding: 14px 15px;
  }
  #otp-input-1{
    width: 7%;
     margin: 10px 9px;
      border-radius: 15px; 
      padding: 14px 15px;
  }
  #otp-input-2{
    width: 7%;
    margin: 10px 9px;
     border-radius: 15px; 
     padding: 14px 15px;
  }
  #otp-input-3{
    width: 7%;
    margin: 10px 9px;
     border-radius: 15px; 
     padding: 14px 15px;
  }


  
  .helper-text {
    font-size: 14px;
    color: #555;
    margin-top: 10px;
  }

  @media (max-width:1024px) {
    .login-img {
      background-image: url(../../../../../assets/NewImage/login/Login.png);
      background-size: cover;
      height: 100vh;
      width: 90vh;
  }
    #otp-input-0 {
      width: 13%;
      margin: 10px 9px;
      border-radius: 11px;
      padding: 13px 13px;
  }
    #otp-input-1 {
      width: 13%;
      margin: 10px 9px;
      border-radius: 11px;
      padding: 13px 13px;
  }
    #otp-input-2 {
      width: 13%;
      margin: 10px 9px;
      border-radius: 11px;
      padding: 13px 13px;
    }
    #otp-input-3 {
      width: 13%;
      margin: 10px 9px;
      border-radius: 11px;
      padding: 13px 13px;
    }
  }

  @media (max-width:768px) {
    .login-img {
        background-image: url(../../../../../assets/NewImage/login/Login.png);
        background-size: cover;
        height: 100vh;
        width: 66vh;
    }
    .signup-btn:after {
        content: "";
        width: 100%;
        height: 2px;
        background: #000;
        left: 108%;
        top: 50%;
        position: absolute;
    }
    .login-btn {
        background-color: #000;
        width: 50%;
        margin: 25px 27%;
        padding: 5px 0;
        border-radius: 50px;
        text-align: center;
    }
    .signup p {
        margin: 0 5%;
        font-weight: 600;
    }
    #otp-input-0 {
      width: 13%;
      margin: 10px 9px;
      border-radius: 11px;
      padding: 13px 13px;
  }
    #otp-input-1 {
      width: 13%;
      margin: 10px 9px;
      border-radius: 11px;
      padding: 13px 13px;
  }
    #otp-input-2 {
      width: 13%;
      margin: 10px 9px;
      border-radius: 11px;
      padding: 13px 13px;
    }
    #otp-input-3 {
      width: 13%;
      margin: 10px 9px;
      border-radius: 11px;
      padding: 13px 13px;
    }
}

@media (max-width: 450px) {
.h-custom {
height: 100%;
}
.login-img {
  background-image: url(../../../../../assets/NewImage/login/Login.png);
  background-size: cover;
  height: 70vh;
  width: 100%;
}
}


