<div class="container-fluid">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12">
             <div class="login-img">
                <img src="../../../../assets/Img/login/banner.png" alt="">
             </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="login-svg">
                <img src="../../../../assets/Img/login/img.png" alt="">
            </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="login-card" >
                <div class="card">
                     <div class="login-logo text-center pt-4">
                         <img src="../../../../assets/Img/logo/DimaondBazzarlogo.png" alt="" width="80">
                     </div>
                     <div class="login-title text-center py-4">
                         <h2>Verify Otp</h2>
                     </div>
                     <div class="login-form">
                        <form #ForgetForm="ngForm" name="ForgetForm">
                            <label for="phoneNumber">Otp Verify</label>
                            <div class="input-container">
                                <input type="text
                                " id="phoneNumber" class="form-control" placeholder="enter otp"
                                [(ngModel)]="Otp.otp" #otp="ngModel" name="otp" required>
                            </div>
                            <!-- <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
                            <div *ngIf="successMessage" class="success-message">{{ successMessage }}</div> -->
                        </form>
                        <div class="login-btn text-center">
                            <button class="btn" [disabled]="!ForgetForm.form.valid" (click)="OnOtp()">Verify</button>
                        </div>
                        
                         <div class="login-cont text-center py-4">
                             <h5>Enter the OTP that you have received</h5>
                             <h6>on you WhatsApp</h6>
                         </div>
                     </div>
                </div>
             </div>
        </div>
       
    </div>
</div>
