.title h2{
    color: var(--primary-color);
    text-align: center;
    font-weight: 400;
}
.title{
    position: relative;
}
.title::before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50% , -50%);
    border: 1px solid #000;
    width: 11%;
}
.nav{
    align-items: center !important;
    justify-content: center !important;
}

.nav-item .nav-link{
    background-color: #fff;
    box-shadow: 0px 3px 8px -1px rgba(0,0,0,0.75);
    margin: 30px 30px;
    padding: 10px 20px;
    border-radius: 20px;
    color: var(--primary-color);
    font-size: 20px;
    width: 128px;
    font-weight: 600;
}
.nav-pills .nav-link.active{
    color: #fff;
    background: linear-gradient(90deg, rgba(255,140,0,1) 14%, rgba(153,84,0,1) 59%);
  }
.lab-product .card{
    border: 0;
    margin: 15px 0;
    background-color: rgba(230, 229, 229, 0.319);
}
.pro-img img{
    position: relative;
}
.wishlist-icon{
    position: absolute;
    top: 51%;
    right: -10%;
    transform: translate(-50% , -50%);
}
.wishlist-icon i{
    color: var(--primary-color);
    font-size: 40px;
}