
.pagination {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: space-between;
  }
  
  .pagination li {
    padding: 10px 20px;
    margin-right: 10px;
    background-color: black;
    color: white;
    cursor: pointer;
  }
  
  .pagination li.active {
    background-color: blue; /* Highlight color for the active page */
  }
  
  button {
    padding: 10px 20px;
    margin-left: 20px;
    cursor: pointer;
  }
  
.process-img2{
    position: relative;
}
.process-img2::after{
    content: '';
    position: absolute;
    top: 39%;
    left: 333px;
    width: 585px;
    border: 1px solid black;
    transform: translate(-50%, -50%);
}
.process-img2::before{
    content: '';
    position: absolute;
    top: 39%;
    right: -254px;
    width: 589px;
    border: 1px solid #FF8C00;
    transform: translate(-50%, -50%);
}
.polish-post .card{
    border: 0;
    box-shadow: 0px 0px 7px 0px rgba(223, 222, 222, 0.75);
    margin: 70px 0;
    padding-bottom: 4%;
  }
.natts-btn .btn.active{
    background: linear-gradient(90deg, rgba(255,140,0,1) 14%, rgba(153,84,0,1) 59%);
    color: #fff;
    padding: 6px 15%;
    border-radius: 15px;
}
.natts-btn .btn{
    border: 1px solid #FF8C00;
    color: #FF8C00;
    padding: 6px 15%;
    border-radius: 15px;
}
.natts-btn{
    text-align: center;
}
.dropdown-menu.show {
    width: 100%;
}
.cut-btn .btn.active{
    background: linear-gradient(90deg, rgba(255,140,0,1) 14%, rgba(153,84,0,1) 59%);
    color: #fff;
    padding: 6px 10%;
    border-radius: 15px;
}
.cut-btn .btn{
    border: 1px solid #FF8C00;
    color: #FF8C00;
    padding: 6px 15%;
    border-radius: 15px;
    padding: 6px 10%;
}
.fluo-btn .btn .active{
    background: linear-gradient(90deg, rgba(255,140,0,1) 14%, rgba(153,84,0,1) 59%);
    color: #fff;
    padding: 6px 5%;
    border-radius: 15px;
}
.fluo-btn .btn{
    border: 1px solid #FF8C00;
    color: #FF8C00;
    padding: 6px 15%;
    border-radius: 15px;
    padding: 6px 5%;
}
.next-btn .btn{
    background-color: #FF8C00;
    color: #fff;
    padding: 5px 5%;
}
.prev-btn .btn{
    background-color: #FF8C00;
    color: #fff;
    padding: 5px 5%;
}
.length .form-control{
    border: 0;
    background-color: #f1f0f0a4;
}
.length .form-label{
    font-family: var(--theme-font);
}
.accordion-button:not(.collapsed){
    color: #000 !important;
    background-color: #fff !important;
}
@media (max-width:769px) {
    .process-img2::after {
        content: '';
        position: absolute;
        top: 39%;
        left: 94px;
        width: 111px;
        border: 1px solid #FF8C00;
        transform: translate(-50%, -50%);
    }
    .process-img2::before {
      content: '';
      position: absolute;
      top: 39%;
      right: -19px;
      width: 115px;
      border: 1px solid #FF8C00;
      transform: translate(-50%, -50%);
    }
    .profile-back img {
        height: 30vh;
        width: 100%;
        position: relative;
    }
    .profile-img {
        position: absolute;
        top: 11%;
        left: 53%;
        transform: translate(-50%, -50%);
    }
    .card {
        padding: 0 0px 0 0;
    }
  }