<section class="nav">
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
            <a routerLink="/home">
                <img class="logo img-fluid" src="../../../assets/Img/logo/DimaondBazzarlogo.png" alt="logo" width="200">
            </a>
        </div>
    </nav>
</section>

<section class="main">
    <div class="container">
        <h3 class="text-center mb-5">
            Privacy Policy for Diamond Bazzar Application
        </h3>
        <h5>Effective Date: 27-06-2024</h5>

        <hr>
        <div>
            <h3>1. Introduction</h3>
            <p>Welcome to the privacy policy for the Diamond Bazzar Application ("the App"), provided by Diamond Bazzar
                ("we", "our", "us"). This policy outlines how we collect, use, disclose, and protect your information
                when you use our App.</p>
        </div>
        <hr>
        <div>
            <h3>2. Information We Collect</h3>
            <ul>
                <li> Personal Information: When you register or use the App, we may collect personal information such
                    as your name, email address, phone number, and payment information.</li>
                <li> Usage Data: We collect information about how you interact with the App, such as your device
                    information, IP address, and actions taken within the App.</li>
                <li> Cookies and Tracking Technologies: We use cookies and similar tracking technologies to enhance
                    your user experience and collect usage data.</li>
            </ul>
        </div>
        <hr>
        <div>
            <h3>3. How We Use Your Information</h3>
            <h6>We use the information we collect for the following purposes:</h6>
            <ul>
                <li>To provide and maintain the App's functionality.</li>
                <li>To personalize your experience and improve our services.</li>
                <li>To communicate with you, including customer support.</li>
                <li>To enforce our terms and policies.</li>
                <li>For marketing and promotional purposes with your consent where required by law.</li>
            </ul>
        </div>
        <hr>
        <div>
            <h3>4. Sharing Your Information</h3>
            <h6>We may share your information in the following circumstances:</h6>
            <ul>
                <li>With third-party service providers who assist us in operating the App.</li>
                <li>With affiliates or partners when necessary to provide our services.</li>
                <li>In response to legal requests or to protect our rights.</li>
            </ul>
        </div>
        <hr>
        <div>
            <h3>5. Your Choices</h3>
            <h6>You can control how we use and share your personal information:</h6>
            <ul>
                <li>You can update or delete your information through your account settings.</li>
                <li>You can opt-out of promotional emails by following the instructions provided.</li>
            </ul>
        </div>
        <hr>
        <div>
            <h3>6. Security of Your Information</h3>
            <h6>We implement reasonable security measures to protect your information from unauthorized access and maintain its accuracy.</h6>
        </div>
        <hr>
        <div>
            <h3>7. Changes to This Privacy Policy</h3>
            <h6>We may update this privacy policy from time to time. We will notify you of any changes by posting the new policy on this page.</h6>
        </div>
        <hr>

        <div class="mb-3">
            <h3>8. Contact Us</h3>
            <h6>If you have any questions about this privacy policy, please contact us at info&#64;diamondbazzar.in</h6>
        </div>

    </div>

</section>