<!-- footer section start -->
<section class="footer">
    <div class="overlay">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="footer-logo my-5">
                    <img src="../../../../assets/Img/logo/DimaondBazzarlogo (1).png" alt="DimaondBazzarlogo" width="150">
                    <p class="text-white my-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed quisquam officiis asperiores.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="compny-list mt-5 text-center">
                    <div class="main-link">
                        <h4>Company</h4>
                    </div>
                    <div class="link-list">
                        <ul>
                            <li class="text-white">Home</li>
                            <li class="text-white py-3">About Us</li>
                            <li class="text-white">Features</li>
                            <li class="text-white py-3">Screens</li>
                        </ul>
                    </div>
                </div>
               
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="compny-list mt-5">
                    <div class="main-link text-center">
                        <h4>Links</h4>
                    </div>
                    <div class="link-list text-center">
                        <ul>
                            <li class="text-white">Help</li>
                            <li class="text-white py-3">Privacy Policy</li>
                            <li class="text-white">Terms Of Use</li>
                            <li class="text-white py-3">Services</li>
                        </ul>
                    </div>
                </div>
               
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="socail mt-5">
                    <a href="">
                        <button class="btn">
                            <img src="../../../../assets/Img/slider/google pay.png" alt="google pay">
                        </button>
                    </a>
                    <a href="">
                        <button class="btn">
                            <img src="../../../../assets/Img/slider/app store.png" alt="app store">
                        </button>
                    </a>
                </div>
            </div>

            <div class="col-lg-12">
                <div class="copy text-white text-center">
                    <h5>©Copyright 2040 by Diamond bazzar</h5>
                </div>
            </div>
        </div>
    </div>
</div>
</section>
<!-- footer section end -->
