<!-- footer section start -->
<section class="footer">
    <div class="overlay">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="footer-logo my-5">
                    <img src="../../../../../assets/NewImage/login/DimaondBazzarlogo.png" alt="DimaondBazzarlogo" width="150">
                    <p class="text-white my-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed quisquam officiis asperiores.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="compny-list mt-5 ms-5">
                    <div class="main-link">
                        <h4>{{ "Home.Company" | translate }}</h4>
                    </div>
                    <div class="link-list">
                        <ul class="navbar-nav  mb-2 mb-lg-0">
                            <li class="text-white nav-item">
                                <a class="nav-link" aria-current="page" routerLinkActive="activebutton">{{
                                    "Home.Home" | translate }}</a>
                            </li>
                            <li class="text-white nav-item">
                                <a class="nav-link" routerLink="/auction" routerLinkActive="activebutton">
                                    {{ "Home.Auction" | translate }}</a>
                            </li>
                            <li class="text-white nav-item">
                                <a class="nav-link"   data-bs-toggle="modal" data-bs-target="#exampleModal2">
                                    Add Diamond</a>
                            </li>
                            <li class="text-white nav-item">
                                <a class="nav-link" routerLink="/MyDiamond" >
                                    My Diamond</a>
                            </li>
                            <li class="text-white nav-item">
                                <a class="nav-link" routerLink="/Calculator">
                                    {{ "Home.Calculator" | translate }}</a>
                            </li>
                        </ul>
                    </div>
                </div>
               
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="compny-list mt-5 ms-5">
                    <div class="main-link">
                        <h4> {{ "Home.Links" | translate }}</h4>
                    </div>
                    <div class="link-list">
                        <ul class="navbar-nav  mb-2 mb-lg-0">
                            <li class="text-white">
                                <a class="nav-link" href="#">{{ "Home.Help" | translate }}</a>
                            </li>
                            <li class="text-white">
                                <a class="nav-link" href="#">{{ "Home.Privacy Policy" | translate }}</a>
                            </li>
                            <li class="text-white"> <a class="nav-link" href="#">{{ "Home.Terms Of Use" | translate }}</a>
                            </li>
                            <li class="text-white">
                                 <a class="nav-link" href="#">{{ "Home.Services" | translate }}</a>
                            </li>
                        </ul>
                    </div>
                </div>
               
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="download-title mt-5">
                    <h4>Download App</h4>
                </div>
                <div class="socail">
                    <a href="">
                        <button class="btn">
                            <img src="../../../../assets/Img/slider/google pay.png" class="img-fluid" alt="google pay">
                        </button>
                    </a>
                    <a href="">
                        <button class="btn">
                            <img src="../../../../assets/Img/slider/app store.png" class="img-fluid" alt="app store">
                        </button>
                    </a>
                </div>
            </div>

            <div class="col-lg-12">
                <div class="copy text-white text-center">
                    <h5>{{ "©Copyright 2024 by Diamond bazzar" | translate }}</h5>
                </div>
            </div>
        </div>
    </div>
</div>
</section>
<!-- footer section end -->
