<!-- footer section start -->
<section class="footer">
    <div class="overlay">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="footer-logo my-5">
                    <img src="../../../../assets/Img/logo/DimaondBazzarlogo (1).png" alt="DimaondBazzarlogo" width="150">
                    <p class="text-white my-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed quisquam officiis asperiores.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="compny-list mt-5 text-center">
                    <div class="main-link">
                        <h4>{{ "Home.Company" | translate }}</h4>
                    </div>
                    <div class="link-list">
                        <ul>
                            <li class="text-white">{{ "Home.Home" | translate }}</li>
                            <li class="text-white py-3"> {{ "Home.About Us" | translate }}</li>
                            <li class="text-white">{{ "Home.Features" | translate }}</li>
                            <li class="text-white py-3">{{ "Home.Screens" | translate }}</li>
                        </ul>
                    </div>
                </div>
               
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="compny-list mt-5">
                    <div class="main-link text-center">
                        <h4> {{ "Home.Links" | translate }}</h4>
                    </div>
                    <div class="link-list text-center">
                        <ul>
                            <li class="text-white">{{ "Home.Help" | translate }}</li>
                            <li class="text-white py-3">{{ "Home.Privacy Policy" | translate }}</li>
                            <li class="text-white">{{ "Home.Terms Of Use" | translate }}</li>
                            <li class="text-white py-3">{{ "Home.Services" | translate }}</li>
                        </ul>
                    </div>
                </div>
               
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="socail mt-5">
                    <a href="">
                        <button class="btn">
                            <img src="../../../../assets/Img/slider/google pay.png" alt="google pay">
                        </button>
                    </a>
                    <a href="">
                        <button class="btn">
                            <img src="../../../../assets/Img/slider/app store.png" alt="app store">
                        </button>
                    </a>
                </div>
            </div>

            <div class="col-lg-12">
                <div class="copy text-white text-center">
                    <h5>{{ "Home.©Copyright 2040 by Diamond bazzar" | translate }}</h5>
                </div>
            </div>
        </div>
    </div>
</div>
</section>
<!-- footer section end -->
