<app-nav></app-nav>
<section class="rough">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="card px-3">
                    <!-- progerss bar start -->
                    <div
                    class="profile-process my-5 d-flex align-items-center justify-content-between">
                    <div class="process-img">
                        <img src="../../../../assets/Img/profile/1.png" alt>
                    </div>
                    <div class="process-img2">
                        <img src="../../../../assets/Img/profile/2.png" alt>
                    </div>
                    <div class="process-img3">
                        <img src="../../../../assets/Img/profile/3.png" alt>
                    </div>
                    </div>
                    <!-- progress bar end -->

                    <!-- rough post form start -->
                     <form action="">
                        <div class="mb-3 rough-select">
                            <select name="" id="" class="form-select">
                                <option value="">Select</option>
                            </select>
                        </div>
                     </form>

                     <div class="rough-type">
                        <div class="col">
                            <div class="card">
                                
                            </div>
                        </div>
                     </div>
                    <!-- rough post form end -->
                </div>
            </div>
        </div>
    </div>
</section>

<app-footer></app-footer>
