<!-- <app-nav></app-nav> -->
<section class="products">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="title my-5">
                    <h3>Natural Polish</h3>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="lab-product">
                    <div class="card">
                        <div class="pro-img">
                            <a routerLink="/product">
                            <img src="../../../../assets/Img/slider/labpro.png" alt="labpro"
                                class="card-img-top">
                            </a>
                        </div>
                        <div class="product-details px-4 py-3">
                            <div
                                class="price d-flex flex-wrap align-items-center justify-content-between">
                                <h4>SID</h4>
                                <h5>₹8680.00</h5>
                            </div>
                            <div
                                class="pieace d-flex flex-wrap align-items-center justify-content-between">
                                <h6>Piece</h6>
                                <p>458</p>
                            </div>
                            <div
                                class="size d-flex flex-wrap align-items-center justify-content-between">
                                <h6>Size</h6>
                                <p>4gr</p>
                            </div>
                            <div
                                class="weigth d-flex flex-wrap align-items-center justify-content-between">
                                <h6>Weigth</h6>
                                <p>4388.00</p>
                            </div>
                            <div
                                class="color d-flex flex-wrap align-items-center justify-content-between">
                                <h6>Color</h6>
                                <p>4388.00</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="lab-product">
                    <div class="card">
                        <div class="pro-img">
                            <a routerLink="/product">
                            <img src="../../../../assets/Img/slider/labpro.png" alt="labpro"
                                class="card-img-top">
                            </a>
                        </div>
                        <div class="product-details px-4 py-3">
                            <div
                                class="price d-flex flex-wrap align-items-center justify-content-between">
                                <h4>SID</h4>
                                <h5>₹8680.00</h5>
                            </div>
                            <div
                                class="pieace d-flex flex-wrap align-items-center justify-content-between">
                                <h6>Piece</h6>
                                <p>458</p>
                            </div>
                            <div
                                class="size d-flex flex-wrap align-items-center justify-content-between">
                                <h6>Size</h6>
                                <p>4gr</p>
                            </div>
                            <div
                                class="weigth d-flex flex-wrap align-items-center justify-content-between">
                                <h6>Weigth</h6>
                                <p>4388.00</p>
                            </div>
                            <div
                                class="color d-flex flex-wrap align-items-center justify-content-between">
                                <h6>Color</h6>
                                <p>4388.00</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="lab-product">
                    <div class="card">
                        <div class="pro-img">
                            <a routerLink="/product">
                            <img src="../../../../assets/Img/slider/labpro.png" alt="labpro"
                                class="card-img-top">
                            </a>
                        </div>
                        <div class="product-details px-4 py-3">
                            <div
                                class="price d-flex flex-wrap align-items-center justify-content-between">
                                <h4>SID</h4>
                                <h5>₹8680.00</h5>
                            </div>
                            <div
                                class="pieace d-flex flex-wrap align-items-center justify-content-between">
                                <h6>Piece</h6>
                                <p>458</p>
                            </div>
                            <div
                                class="size d-flex flex-wrap align-items-center justify-content-between">
                                <h6>Size</h6>
                                <p>4gr</p>
                            </div>
                            <div
                                class="weigth d-flex flex-wrap align-items-center justify-content-between">
                                <h6>Weigth</h6>
                                <p>4388.00</p>
                            </div>
                            <div
                                class="color d-flex flex-wrap align-items-center justify-content-between">
                                <h6>Color</h6>
                                <p>4388.00</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="lab-product">
                    <div class="card">
                        <div class="pro-img">
                            <a routerLink="/product">
                            <img src="../../../../assets/Img/slider/labpro.png" alt="labpro"
                                class="card-img-top">
                            </a>
                        </div>
                        <div class="product-details px-4 py-3">
                            <div
                                class="price d-flex flex-wrap align-items-center justify-content-between">
                                <h4>SID</h4>
                                <h5>₹8680.00</h5>
                            </div>
                            <div
                                class="pieace d-flex flex-wrap align-items-center justify-content-between">
                                <h6>Piece</h6>
                                <p>458</p>
                            </div>
                            <div
                                class="size d-flex flex-wrap align-items-center justify-content-between">
                                <h6>Size</h6>
                                <p>4gr</p>
                            </div>
                            <div
                                class="weigth d-flex flex-wrap align-items-center justify-content-between">
                                <h6>Weigth</h6>
                                <p>4388.00</p>
                            </div>
                            <div
                                class="color d-flex flex-wrap align-items-center justify-content-between">
                                <h6>Color</h6>
                                <p>4388.00</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="lab-product">
                    <div class="card">
                        <div class="pro-img">
                            <a routerLink="/product">
                            <img src="../../../../assets/Img/slider/labpro.png" alt="labpro"
                                class="card-img-top">
                            </a>
                        </div>
                        <div class="product-details px-4 py-3">
                            <div
                                class="price d-flex flex-wrap align-items-center justify-content-between">
                                <h4>SID</h4>
                                <h5>₹8680.00</h5>
                            </div>
                            <div
                                class="pieace d-flex flex-wrap align-items-center justify-content-between">
                                <h6>Piece</h6>
                                <p>458</p>
                            </div>
                            <div
                                class="size d-flex flex-wrap align-items-center justify-content-between">
                                <h6>Size</h6>
                                <p>4gr</p>
                            </div>
                            <div
                                class="weigth d-flex flex-wrap align-items-center justify-content-between">
                                <h6>Weigth</h6>
                                <p>4388.00</p>
                            </div>
                            <div
                                class="color d-flex flex-wrap align-items-center justify-content-between">
                                <h6>Color</h6>
                                <p>4388.00</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="lab-product">
                    <div class="card">
                        <div class="pro-img">
                            <a routerLink="/product">
                            <img src="../../../../assets/Img/slider/labpro.png" alt="labpro"
                                class="card-img-top">
                            </a>
                        </div>
                        <div class="product-details px-4 py-3">
                            <div
                                class="price d-flex flex-wrap align-items-center justify-content-between">
                                <h4>SID</h4>
                                <h5>₹8680.00</h5>
                            </div>
                            <div
                                class="pieace d-flex flex-wrap align-items-center justify-content-between">
                                <h6>Piece</h6>
                                <p>458</p>
                            </div>
                            <div
                                class="size d-flex flex-wrap align-items-center justify-content-between">
                                <h6>Size</h6>
                                <p>4gr</p>
                            </div>
                            <div
                                class="weigth d-flex flex-wrap align-items-center justify-content-between">
                                <h6>Weigth</h6>
                                <p>4388.00</p>
                            </div>
                            <div
                                class="color d-flex flex-wrap align-items-center justify-content-between">
                                <h6>Color</h6>
                                <p>4388.00</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="lab-product">
                    <div class="card">
                        <div class="pro-img">
                            <a routerLink="/product">
                            <img src="../../../../assets/Img/slider/labpro.png" alt="labpro"
                                class="card-img-top">
                            </a>
                        </div>
                        <div class="product-details px-4 py-3">
                            <div
                                class="price d-flex flex-wrap align-items-center justify-content-between">
                                <h4>SID</h4>
                                <h5>₹8680.00</h5>
                            </div>
                            <div
                                class="pieace d-flex flex-wrap align-items-center justify-content-between">
                                <h6>Piece</h6>
                                <p>458</p>
                            </div>
                            <div
                                class="size d-flex flex-wrap align-items-center justify-content-between">
                                <h6>Size</h6>
                                <p>4gr</p>
                            </div>
                            <div
                                class="weigth d-flex flex-wrap align-items-center justify-content-between">
                                <h6>Weigth</h6>
                                <p>4388.00</p>
                            </div>
                            <div
                                class="color d-flex flex-wrap align-items-center justify-content-between">
                                <h6>Color</h6>
                                <p>4388.00</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="lab-product">
                    <div class="card">
                        <div class="pro-img">
                            <a routerLink="/product">
                            <img src="../../../../assets/Img/slider/labpro.png" alt="labpro"
                                class="card-img-top">
                            </a>
                        </div>
                        <div class="product-details px-4 py-3">
                            <div
                                class="price d-flex flex-wrap align-items-center justify-content-between">
                                <h4>SID</h4>
                                <h5>₹8680.00</h5>
                            </div>
                            <div
                                class="pieace d-flex flex-wrap align-items-center justify-content-between">
                                <h6>Piece</h6>
                                <p>458</p>
                            </div>
                            <div
                                class="size d-flex flex-wrap align-items-center justify-content-between">
                                <h6>Size</h6>
                                <p>4gr</p>
                            </div>
                            <div
                                class="weigth d-flex flex-wrap align-items-center justify-content-between">
                                <h6>Weigth</h6>
                                <p>4388.00</p>
                            </div>
                            <div
                                class="color d-flex flex-wrap align-items-center justify-content-between">
                                <h6>Color</h6>
                                <p>4388.00</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- <app-footer></app-footer> -->
