.auction .card{
    border: 1px solid #000;
    border-radius: 10px;
}
.title h2{
    font-family: var(--fonts);
    font-weight: 700;
}
.piece{
    position: relative;
}
.dot{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.size{
    position: relative;
}
.auctoin-details h5{
    color: rgba(147, 145, 145, 1);
    font-family: var(--fonts);
    font-weight: 600;
    font-size: 24px;
}
.auctoin-details h6{
    color: rgba(147, 145, 145, 1);
    font-family: var(--fonts);
    font-weight: 600;
    font-size: 24px;
}
.piece h5{
    color: var(--primary-color);
    font-family: var(--fonts);
    font-size: 22px;
    font-weight: 600;
}
.piece h6{
    font-size: 22px;
    font-family: var(--fonts);
    font-weight: 600;
}
.size h5{
    color: var(--primary-color);
    font-family: var(--fonts);
    font-size: 22px;
    font-weight: 600;
}
.size h6{
    font-size: 22px;
    font-family: var(--fonts);
    font-weight: 600;
}
.weight h5{
    color: var(--primary-color);
    font-family: var(--fonts);
    font-size: 22px;
    font-weight: 600;
}
.weight h6{
    font-size: 22px;
    font-family: var(--fonts);
    font-weight: 600;
}
.color h5{
    color: var(--primary-color);
    font-family: var(--fonts);
    font-size: 22px;
    font-weight: 600;
}
.color h6{
    font-size: 22px;
    font-family: var(--fonts);
    font-weight: 600;
}
.price h5{
    color: var(--primary-color);
    font-family: var(--fonts);
    font-size: 22px;
    font-weight: 600;
}
.price h6{
    font-size: 22px;
    font-family: var(--fonts);
    font-weight: 600;
}