.auction .card{
    border: 1px solid #000;
    border-radius: 10px;
}
.title h2{
    font-family: var(--fonts);
    font-weight: 700;
}
.piece{
    position: relative;
}
.nav{
    align-items: center !important;
    justify-content: center !important;
}

.nav-item .nav-link{
    background-color: #fff;
    box-shadow: 0px 3px 8px -1px rgba(0,0,0,0.75);
    margin: 30px 30px;
    padding: 10px 20px;
    color: var(--primary-color);
    font-size: 20px;
    width: 200px;
    font-weight: 600;
}
.nav-pills .nav-link.active{
    color: #fff;
    background: linear-gradient(90deg, rgba(255,140,0,1) 14%, rgba(153,84,0,1) 59%);
  }


  .client-img { 
    width: 100px;
    height: 100px;
  }
  
.dot{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.size{
    position: relative;
}
.auctoin-details h5{
    color: rgba(147, 145, 145, 1);
    font-family: var(--fonts);
    font-weight: 600;
    font-size: 24px;
}
.auctoin-details h6{
    color: rgba(147, 145, 145, 1);
    font-family: var(--fonts);
    font-weight: 600;
    font-size: 24px;
}
.piece h5{
    color: var(--primary-color);
    font-family: var(--fonts);
    font-size: 22px;
    font-weight: 600;
}
.piece h6{
    font-size: 22px;
    font-family: var(--fonts);
    font-weight: 600;
}
.size h5{
    color: var(--primary-color);
    font-family: var(--fonts);
    font-size: 22px;
    font-weight: 600;
}
.size h6{
    font-size: 22px;
    font-family: var(--fonts);
    font-weight: 600;
}
.weight h5{
    color: var(--primary-color);
    font-family: var(--fonts);
    font-size: 22px;
    font-weight: 600;
}
.weight h6{
    font-size: 22px;
    font-family: var(--fonts);
    font-weight: 600;
}
.color h5{
    color: var(--primary-color);
    font-family: var(--fonts);
    font-size: 22px;
    font-weight: 600;
}
.color h6{
    font-size: 22px;
    font-family: var(--fonts);
    font-weight: 600;
}
.price h5{
    color: var(--primary-color);
    font-family: var(--fonts);
    font-size: 22px;
    font-weight: 600;
}
.price h6{
    font-size: 22px;
    font-family: var(--fonts);
    font-weight: 600;
}