<app-nav></app-nav>
<section class="auction">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="auc-cont">
                    <h2>{{ "Home.Coming Soon" | translate }}</h2>
                    <h5>{{ "Home.We Are Polishing to make app better will be live soon" | translate }}</h5>
                </div>
                <div class="auc-diam">
                    <img src="../../../../assets/Img/Auction/diam.png" alt="diam" width="300">
                </div>
                <div class="auc-small">
                    <img src="../../../../assets/Img/Auction/smalldia.png" alt="" width="150">
                </div>
            </div>
        </div>
    </div>
</section>
