.auction{
    /* background-image: url(../../../../../assets/Img/Auction/Group1.png); */
    background-image: url(../../../../../assets/Img/Auction/Group1.png);
    background-size: cover;
    height: 35vw;
    position: relative;
}
.auc-cont{
    position: absolute;
    bottom: -14%;
    left: 30%;
    transform: translate(-50%, -50%);
}
.auc-cont h2{
    font-size: 100px;
}
.auc-diam{
    position: absolute;
    top: 66%;
    right: 4%;
    transform: translate(-50%, -50%);
}
.auc-small{
    position: absolute;
    top: 79%;
    right: 10%;
    transform: translate(-50%, -50%);
}

/* media query start */
@media (max-width:1025px) {
    .auction{
        background-image: url(../../../../../assets/Img/Auction/Group1.png);
        background-size: cover;
        height: 54vw;
        position: relative;
    }
    .auc-cont{
        position: absolute;
        bottom: 14%;
        left: 27%;
        transform: translate(-50%, -50%);

    }
    .auc-cont h2{
        font-size: 62px;
    }
    .auc-cont h5{
        font-size: 15px;
    }
    .auc-diam{
        position: absolute;
        top: 50%;
        right: 7%;
        transform: translate(-50%, -50%);
    }
    .auc-diam img{
        width: 200px;
    }
    .auc-small{
        position: absolute;
        top: 58%;
        right: 12%;
        transform: translate(-50%, -50%);
    }
    .auc-small img{
        width: 100px;
    }
}
@media (max-width:769px) {
    .auction{
        /* background-image: url(../../../../assets/Img/Auction/Group1.png); */
        background-image: url(../../../../../assets/Img/Auction/Group1.png);

        background-size: cover;
        height: 54vw;
        position: relative;
    }
    .auc-cont{
        position: absolute;
        bottom: 10%;
        left: 32%;
        transform: translate(-50%, -50%);

    }
    .auc-cont h2{
        font-size: 50px;
    }
    .auc-cont h5{
        font-size: 15px;
    }
    .auc-diam{
        position: absolute;
        top: 46%;
        right: -2%;
        transform: translate(-50%, -50%);
    }
    .auc-diam img{
        width: 200px;
    }
    .auc-small{
        position: absolute;
        top: 57%;
        right: 6%;
        transform: translate(-50%, -50%);
    }
    .auc-small img{
        width: 100px;
    }
}

@media (max-width:426px) {
    .auction{
        /* background-image: url(../../../../assets/Img/Auction/Group1.png); */
        background-image: url(../../../../../assets/Img/Auction/Group1.png);

        background-size: cover;
        height: 54vw;
        position: relative;
    }
    .auc-cont{
        position: absolute;
        bottom: 0%;
        left: 36%;
        transform: translate(-50%, -50%);

    }
    .auc-cont h2{
        font-size: 32px;
    }
    .auc-cont h5{
        font-size: 10px;
    }
    .auc-diam{
        position: absolute;
        top: 48%;
        right: -3%;
        transform: translate(-50%, -50%);
    }
    .auc-diam img{
        width: 129px;
    }
    .auc-small{
        position: absolute;
        top: 61%;
        right: 7%;
        transform: translate(-50%, -50%);

    }
    .auc-small img{
        width: 65px;
    }
}
/* media query end */