.title h3{
    color: #FF8C00;
}
.title{
    position: relative;
    text-align: center;
}

.title::before{
    content: " ";
    position: absolute;
    bottom: 0;
    left: 43%;
    width: 14%;
    border: 2px solid #FF8C00;
}
.lab-product .card{
    border: 0;
    box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.75);
}
.lab-product{
    margin: 20px 0;
}