/* lab grown start */
 
.title{
    position: relative;
}
.title::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50% , -50%);
    width: 15%;
    border: 2px solid #FF8C00;
}
.grown-banner .card{
    border: 0;
    box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.45);
}
.price h5{
    color: #FF8C00;
}

.disp-text {  
        white-space: normal;    /* Allows text to wrap automatically */
        word-wrap: break-word;  /* Break long words that exceed the container width */
        overflow-wrap: break-word; /* Support for breaking long words */
        width: 100%;            /* Make sure the h5 element takes the full width of its container */
      }
      .piece p{
        display: flex;
        flex-wrap: wrap;
        max-width: 200px; 
            align-items: baseline;
    
    }
    .piece p {
        margin-right: 10px;
        width: 50%; 
      }

      .piece h6 {
        margin-top: 3px;
    }

    .dot {
        position: absolute;
        left: 41%;
        top: -2%;
        transform: translate(-50%);
    }

.piece{
    position: relative;
}

.lab-product .card{
    background-color: #FAFAFA;
    box-shadow: none;
}
.natural{
    margin: 70px 0;
}
a{
    text-decoration: none;
    color: #000;
}
ul li{
    list-style: none;
}
/* lab grown end */