<app-nav></app-nav>
<section class="products">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="title my-5 text-center">
                    <h3>{{MC }} {{SC}} </h3> 
                </div>
            </div>


            <section class="lab">
                <div class="container">
                  <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                      <div class="grown-banner">
                        <div class="card mt-4 px-5">
                          <div
                            class="lab-product-title d-flex flex-wrap align-items-center justify-content-between"
                          >
                          </div>
                          <div class="row">
                            <!-- labgrown polish data start -->
                            <ng-container *ngFor="let item of mainss">
                              <div class="col-lg-3 col-md-6 col-sm-12">
                                <div class="lab-product"> 
                                  <div class="card">
                                    <div class="pro-img">
                                      <button class="btn"  (click)="viewpostdetails(item.postMainData.postID)">
                                        <img class="img-fluid" style="height:282px" *ngIf="item.postAttachmenturl"
                                        [src]="item.postAttachmenturl"
                                        alt=""/>
                                      </button>
                                   
                                  </div>
                                    <div class="product-details px-4 py-3">
                                      <div class="price d-flex flex-wrap align-items-center justify-content-between">
 
                                        <h5 >{{ item.postMainData.highlightedText }}</h5>
                                      </div>
                                      
                                      <div *ngFor="let metaData of item.postMetaDatas.slice(0, 4)">
                                        <div class="piece d-flex flex-wrap   justify-content-between">
                                          <h6>{{ metaData.categoryName }}</h6>
                                          <p>{{ metaData.metaDataValue }}</p>
                                          <div class="dot">
                                            <h5>:</h5>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </ng-container>
                            
                          <!-- labgrown polish data end -->
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>


                <div class="pagination">
                    <button (click)="onPageChange(pageNumber - 1)" [disabled]="pageNumber === 0">Previous</button>
                    <span>Page {{pageNumber + 1}}</span>
                    <button (click)="onPageChange(pageNumber + 1)" [disabled]="isNextDisabled()">Next</button>
                  </div>
              </section>

             
        </div>
    </div>
</section>

<!-- <app-footer></app-footer> -->
