.login-section{
    overflow: hidden;
}

.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}
.container-fluid{
    padding: 0 0 0 0;
}
.login-img{
    background-image: url(../../../../../assets/NewImage/login/Login.png);
    background-size: cover;
    height: 100vh;
    width: 100vh;
}
.login-form{
    margin: -10px 0 ;
}
.title h2{
    font-weight: 700;
    font-size: 42px;
    margin: 5% 6%;
}
.eye-icon{
  position: absolute;
  top: 3%;
  right: 0;
  z-index: 999;
}
input{
    border: 1px solid #000;
}
.h-custom {
height: calc(100% - 73px);
}

.floating-form {
    position: relative;
  }
  .floating-form .form-control {
    background: transparent;
    position: relative;
    z-index: 50;
  }
  .floating-form .form-control:focus, .floating-form .form-control:active, .floating-form .form-control:valid {
    outline: none !important;
    box-shadow: none !important;
  }
  .floating-form .form-control:focus + label, .floating-form .form-control:active + label, .floating-form .form-control:valid + label {
    transform: translateY(-40%);
    top: -2px;
    z-index: 100;
    font-size: 18px;
  }
  .floating-form label {
    padding-left: 5px;
    padding-right: 5px;
    position: absolute;
    top: 50%;
    left: 0.75rem;
    z-index: 1;
    font-size: 18px;
    transform: translateY(-50%);
    transition: all 0.3s;
    background: #fff;
    color: #000;
    font-weight: 500;
  }
  .floating-form textarea + label {
    top: 1.275rem;
  }
  .floating-form input{
    font-size: 17px;
  }

 .sign-btn .btn{
    background-color: #000;
    color: #fff;
    padding: 1% 15%;
    width: 45%;
    margin: 10px 0 0 30%;
    border-radius: 50px;
    font-size: 22px;
 }
 .account p {
    font-weight: 600;
    font-family: var(--fonts);
 }
 .signup-btn{
    position: relative;
    text-align: center;
}
.signup-btn:before{
    content: "";
    width: 30%;
    height: 2px;
    background: #000;
    right: 55%;
    top: 50%;
    position: absolute;
}
.signup-btn:after{
    content: "";
    width: 34%;
    height: 2px;
    background: #000;
    left: 55%;
    top: 50%;
    position: absolute;
}
.signup-btn a{
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
}



@media (max-width: 450px) {
.h-custom {
height: 100%;
}
}