<app-nav></app-nav>
<section class="polish-post">
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="card px-3">
                <div class="profile-process my-5 d-flex align-items-center justify-content-between">
                    <div class="process-img">
                        <img src="../../../../assets/Img/profile/1.png" alt="">
                    </div>
                    <div class="process-img2">
                        <img src="../../../../assets/Img//profile/21.png" alt="">
                    </div>
                    <div class="process-img3">
                        <img src="../../../../assets/Img/profile/3.png" alt="">
                    </div>
                </div>

                <div class="polishform">
                    <form action="">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="mb-3">
                                    <label for="" class="form-label">Piece*</label>
                                    <input type="text" class="form-control" placeholder="Enter Piece">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="mb-3">
                                    <label for="" class="form-label">Weigth*</label>
                                    <input type="text" class="form-control" placeholder="Enter weight">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="mb-3">
                                    <label for="" class="form-label">Price per Carat*</label>
                                    <div class="carat-input d-flex  align-items-center">
                                        <input type="text" class="form-control" placeholder="₹" style="width: 70px; margin-right: 5px;">
                                        <input type="text" class="form-control" placeholder="Enter weight" >
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="mb-3">
                                    <label for="" class="form-label">Natts</label>
                                    <div class="natts-btn">
                                        <button class="btn me-5 active">YES</button>
                                        <button class="btn">NO</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="mb-3">
                                    <label for="" class="form-label">Terms</label>
                                    <input type="text" class="form-control" placeholder="Enter terms">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="mb-3">
                                    <label for="" class="form-label">Remarks</label>
                                    <input type="text" class="form-control" placeholder="Enter Remarks">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="mb-3">
                                    <label for="" class="form-label">Location</label>
                                    <input type="text" class="form-control" placeholder="Enter location">
                                </div>
                            </div>
                            <div class="col-lg-12">
                                
                            </div>
                            <div class="col-lg-6">
                                <div class="prev-btn">
                                    <button class="btn">Prev</button>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="next-btn text-end">
                                    <a routerLink="/Polishpost2">
                                    <button class="btn">Next</button>
                                </a>
                                </div>
                            </div>
                        </div>
                        
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>
</section>
